{% extends 'chat_layout.twig' %}

{% block header %}
<nav class="navbar">
	<div class="navbar-header">
		<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#mutual_navbar">
		<span class="sr-only">Toggle navigation</span>
		<span class="icon-bar"></span>
		<span class="icon-bar"></span>
		<span class="icon-bar"></span>
		</button>
		<a class="navbar-brand" href="{{site}}">Home</a>
	</div>
	<div class="collapse navbar-collapse" id="mutual_navbar" style="position:relative;">
		<form class="navbar-form tag_search" role="search">
			<div class="form-group dropdown">
				<input class="form-control tag_input" id="search_input" type="text" placeholder="Search Tags" autocomplete="off">
				<ul class="dropdown-menu" id="tag_dropdown" role="menu" aria-labelledby="search_input">
				</ul>
			</div>
		</form>
		{% if logged_in %}
		<ul class="nav navbar-nav nav_left">
			<li class="dropdown">
				<a href="#" class="dropdown-toggle" data-toggle="dropdown">Subscriptions <b class="caret" style="color:white;"></b></a>
				<ul class="dropdown-menu" role="menu">
					{% for sub in user.subscriptions %}
						<li><a href="{{site}}/t/{{sub.name}}">{{sub.name}}</a></li>
					{% endfor %}
				</ul>
			</li>
		</ul>
		<ul class="nav navbar-nav nav_right nav_margin">
			{% for tag in tag_headers %}
				{% if curr_tag == tag.name %}
					<li><a class="highlight_light_blue" href="{{site}}/t/{{tag}}">{{tag}}</a></li>
				{% else %}
					<li><a href="{{site}}/t/{{tag}}">{{tag}}</a></li>
				{% endif %}
			{% endfor %}
		</ul>
		{% else %}
		<ul class="nav navbar-nav nav_right">
			{% for tag in tag_headers %}
				{% if curr_tag == tag.name %}
					<li><a class="highlight_light_blue" href="{{site}}/t/{{tag}}">{{tag}}</a></li>
				{% else %}
					<li><a href="{{site}}/t/{{tag}}">{{tag}}</a></li>
				{% endif %}
			{% endfor %}
		</ul>
		{% endif %}
	</div>
</nav>
{% endblock %}

{% block tools %}
<div id="user_toolbox">
	<span class="glyphicon glyphicon-list" id="show_members" data-toggle="tooltip" data-container="body" data-placement="top" data-original-title="Show chat members"></span>
	<span class="glyphicon glyphicon-stop" id="stop_scroll" data-toggle="tooltip" data-container="body" data-placement="top" data-original-title="Stop scrollbar"></span>
	<!--<span class="glyphicon glyphicon-list" id="show_members" data-toggle="tooltip" data-container="body" data-placement="top" data-original-title="Show chat members"></span>-->
	{% if user.name == chat.admin or serial == chat.admin %}
	<span class="glyphicon glyphicon-pause pause mod_power" id="pause_chat" data-toggle="tooltip" data-container="body" data-placement="top" data-original-title="Pause chat"></span>
	<span class="glyphicon glyphicon-tower mod_power" id="mod_user" data-toggle="tooltip" data-container="body" data-placement="top" data-original-title="Grant holy moderation powers"></span>
	<span class="glyphicon glyphicon-warning-sign mod_power" id="warn_user" data-toggle="tooltip" data-container="body" data-placement="top" data-original-title="Warn user"></span>
	<span class="glyphicon glyphicon-remove mod_power" id="kick_user" data-toggle="tooltip" data-container="body" data-placement="top" data-original-title="Kick user"></span>
	{% endif %}
</div>
<div id="members_box"><div id="members_list"></div></div>
{% endblock %}

{% block welcome %}
<div style="display:none;" id="logged_in">{{logged_in}}</div>
<div style="margin-bottom:10px;">Welcome, 
{% if not user %}
	<div id="serial_id" style="display:none;">{{serial_id}}</div>
	<span id="serial_tracker">{{serial}}</span>
{% else %}
	<div id="serial_id" style="display:none;">{{serial_id}}</div>
	<div id="serial_tracker" style="display:none;">{{serial}}</div>
	<div id="user_id" style="display:none;">{{user.id}}</div>
	<span id="user_tracker">{{user.name}}</span>
	{% endif %}
</div>
{% if not logged_in %}
	<form method="post" action="{{site}}/profile/newuser" class="mutual_form" id="login_form">
	<fieldset>
		<div id="user_group" class="form-group">
			<input class="form-control" data-toggle="tooltip" data-placement="left" data-original-title="Username must be longer than 2 characters but less than 15" data-trigger="focus" data-container="body" type="text" name="username" id="username" placeholder="Enter your actual or preferred username">
		</div>
		<div id="pass1_group" class="form-group">
			<input class="form-control" data-toggle="tooltip" data-placement="left" data-original-title="Password must be longer than 6 characters but less than 30" data-trigger="focus" data-container="body" type="password" name="pass" id="pass" placeholder="Enter your password">
		</div>
		<div id="pass2_group" class="form-group">
			<input class="form-control" data-toggle="popover" data-original-title="Passwords don't match" data-container="body" data-placement="left" data-trigger="focus" type="password" name="pass2" id="pass2" placeholder="Enter password again to register">
		</div>
		<button class="btn btn-primary" type="Submit" style="width:100%;">Login/Register</button>
	</fieldset>
	</form>
{% else %}
	<div class="last_login" id="{{user.last_login}}"></div>
	<div>Cognizance: {{user.cognizance}}/{{100 + 20*user.level }} (Level: {{user.level}})</div>
	<div class="progress progress-striped active">
		<div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="{{user.cognizance}}" aria-valuemin="0" aria-valuemax="{{100 + 20*user.level}}" style="width:{{user.cognizance}}%;">
			<span class="sr-only">Only {{user.cognizance}}% Complete</span>
		</div>
	</div>
	<select class="form-control">
		<option value="">Visible and Evaluated</option>
	</select>
	<a class="btn btn-success btn_btm_l btn-sm" href="{{site}}/p/{{user.name}}">My Profile</a>
	<a class="btn btn-primary btn_btm_r btn-sm" href="{{site}}/profile/logout">Logout</a>
{% endif %}
{% endblock %}

{% block details %}
<div class="chat_id" id="{{chat.id}}">{{chat.title}}</div>
<div style="color:#777;font-size:12px;"><b>Created by </b> <span id="chat_admin">{{chat.admin}}</span>, 
	<span class="chat_time" id="{{chat.created_at}}"></span>
	with Tags:
	{% for tag in chat.tags %}
		<span class="chat_tags"><a href="{{site}}/t/{{tag.name}}" style="color:#075de9;">#{{tag.name}}</a> </span>
	{% endfor %}
</div>
<div class="top_5 {% if user.name == chat.admin or serial == chat.admin %} edit_details {% endif %}" id="curr_details" data-toggle="tooltip" data-placement="top" data-original-title="Click to edit description" data-container="body">
{% if chat.details %}{{chat.details | slice(0,510) | raw}}...<a id="continue_description" data-toggle="modal" data-target="#continue_modal" href="#" style="color:#075de9;word-break:break-all;">Continue</a>{% endif %}
</div>
<div class="modal fade" id="continue_modal" aria-hidden="false" tabindex="-1" role="dialog" aria-labelledby="continue_modalLabel">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h4 class="modal-title">Chat Description</h4>
			</div>
			<div class="modal-body">
				<div id="curr_details">
					{{chat.details | raw}}
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn" data-dismiss="modal">Close</button>
			</div>
		</div>
	</div>	
</div>
{% if user.name == chat.admin or serial == chat.admin %}
	<div class="modal fade" id="description_modal" aria-hidden="false" tabindex="-1" role="dialog" aria-labelledby="description_modalLabel">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					<h4 class="modal-title">Edit Chat Description</h4>
				</div>
				<div class="modal-body">
					<textarea rows="7" id="detail_text">{{chat.raw_details | raw}}</textarea>
				</div>
				<div class="modal-footer">
					<button class="btn btn-success" id="save_details">Save Details</button>
				</div>
			</div>
		</div>	
	</div>
{% endif %}
{% endblock %}

{% block members %}
<div class="frame" style="height:550px;">
	<div class="chat_title">
		<div><b>Chat Admin</b></div>
		<div id="display_admin">
		
		</div>
	</div>
	<div class="chat_title">
		<div><b>Chat Moderators</b></div>
		<div id="display_mods">
		
		</div>
	</div>
	<div class="chat_title">
		<div><b>Chat Members</b></div>
		<div id="display_members">
		
		</div>
	</div>
</div>
{% endblock %}

{% block content %}
<div class="frame_cont">
	<div class="frame chat_main" id="chat_messages">
		<div id="chat_display">
		{% for message in chat.messagesOnly %}
			<div class="mssg_cont level_{{message.level}} parent_{{message.parent}}" id="mssg_cont_{{message.id}}">
				<div class="chat_mssg" id="{{message.id}}">
					<div>
						{% if serial == message.author or user.name == message.author and message.message != '<i>This message has been deleted</i>' %}
							<span id="message.id" class="glyphicon glyphicon-remove mssg_icon" data-toggle="tooltip" title="Delete post" data-container="body" data-placement="top"></span>	
						{% endif %}  
						{% if message.author == chat.admin %}
							<span class="glyphicon glyphicon-star"></span>	
						{% endif %}
						{% if message.author in mods %}
							<span class="glyphicon glyphicon-tower"></span>	
						{% endif %}
						<b class="mssg_op" id="{{message.author}}" style="color:{{color_arr[message.serial % 7]}}"> {{message.author}} (<span class="response_count" id="{{message.id}}">{{message.responses}}</span>)</b> : {{message.message | raw}}
					</div>
				<div class="time" id="{{message.created_at}}"></div>
				</div>
			</div>
		{% endfor %}
		</div>
	</div>
</div>

<textarea class="global" id="message" style="height:23%;">
Press enter to send a message to all (Learn more about markdown under the home dropdown menu)
</textarea>
{% endblock %}
