{% extends 'chat_layout.twig' %}
{% use 'common.twig' %}

{% block header %}
	{{parent()}}
{% endblock %}

{% block friend_list %}
	{{parent()}}
{% endblock %}

{% block pm_bar %}
	{{parent()}}
{% endblock %}

{% block tools %}
<div id="user_toolbox">
	<span class="glyphicon glyphicon-link" id="permalink" data-page-link="{{site}}/chat/static/{{chat.id}}" data-toggle="tooltip" data-container="body" data-placement="top" data-original-title="Permalink"></span>
	<span class="glyphicon glyphicon-list" id="show_members" data-toggle="tooltip" data-container="body" data-placement="top" data-original-title="Show chat members"></span>
	<span class="glyphicon glyphicon-stop" id="stop_scroll" data-toggle="tooltip" data-container="body" data-placement="top" data-original-title="Stop scrollbar"></span>
	<!--<span class="glyphicon glyphicon-list" id="show_members" data-toggle="tooltip" data-container="body" data-placement="top" data-original-title="Show chat members"></span>-->
	{% if user.name == chat.admin or serial == chat.admin %}
	{% if chat.live %}
		<span class="glyphicon glyphicon-pause pause mod_power" id="pause_chat" data-toggle="tooltip" data-container="body" data-placement="top" data-original-title="Pause chat"></span>
	{% else %}
		<span class="glyphicon glyphicon-play play mod_power" id="pause_chat" data-toggle="tooltip" data-container="body" data-placement="top" data-original-title="Play chat"></span>
	{% endif %}
	<span class="glyphicon glyphicon-tower mod_power" id="mod_user" data-toggle="tooltip" data-container="body" data-placement="top" data-original-title="Grant holy moderation powers"></span>
	<span class="glyphicon glyphicon-warning-sign mod_power" id="warn_user" data-toggle="tooltip" data-container="body" data-placement="top" data-original-title="Warn user"></span>
	<span class="glyphicon glyphicon-remove mod_power" id="kick_user" data-toggle="tooltip" data-container="body" data-placement="top" data-original-title="Kick user"></span>
	{% endif %}
</div>
<div id="members_box"><div id="members_list"></div></div>
{% endblock %}

{% block welcome %}
	{{parent()}}
{% endblock %}

{% block details %}
<div class="chat_title_vote_box">
	{% if chat.id in upvoted %}
		<span class="glyphicon glyphicon-chevron-up big_upvote" id="upvote_{{chat.id}}" style="color:#57bf4b" data-toggle="tooltip" data-original-title="You must be logged in to vote on posts" data-container="body" data-placement="top"></span>
		<div class="upvote_count" id="votes_{{chat.id}}">{{chat.upvotes - chat.downvotes}}</div>
		<span class="glyphicon glyphicon-chevron-down big_downvote" id="downvote_{{chat.id}}" data-toggle="tooltip" data-original-title="You must be logged in to vote on posts" data-container="body" data-placement="bottom"></span>
	{% elseif chat.id in downvoted %}
		<span class="glyphicon glyphicon-chevron-up big_upvote" id="upvote_{{chat.id}}" data-toggle="tooltip" data-original-title="You must be logged in to vote on posts" data-container="body" data-placement="top"></span>
		<div class="upvote_count" id="votes_{{chat.id}}">{{chat.upvotes - chat.downvotes}}</div>
		<span class="glyphicon glyphicon-chevron-down big_downvote" id="downvote_{{chat.id}}" style="color:red;" data-toggle="tooltip" data-original-title="You must be logged in to vote on posts" data-container="body" data-placement="bottom"></span>
	{% else %}
		<span class="glyphicon glyphicon-chevron-up big_upvote" id="upvote_{{chat.id}}" data-toggle="tooltip" data-original-title="You must be logged in to vote on posts" data-container="body" data-placement="top"></span>
		<div class="upvote_count" id="votes_{{chat.id}}">{{chat.upvotes - chat.downvotes}}</div>
		<span class="glyphicon glyphicon-chevron-down big_downvote" id="downvote_{{chat.id}}" data-toggle="tooltip" data-original-title="You must be logged in to vote on posts" data-container="body" data-placement="bottom"></span>
	{% endif %}
</div>
<div class="chat_title_cont">
<div class="chat_id" id="{{chat.id}}">{{chat.title}}</div>
<div style="color:#777;font-size:12px;"><strong>Created by </strong> <span id="chat_admin">{{chat.admin}}</span>, 
	{% set time_passed = server_time|date('U') - chat.created_at|date('U') %}
	<span class="chat_time" id="{{chat.created_at}}">
		{% if time_passed < 45 %}
			seconds ago
		{% elseif time_passed < 2700 %}
			{% if time_passed < 90 %}
				a minute ago
			{% else %}
				{{(time_passed/60)|round}} minutes ago
			{% endif %}
		{% elseif time_passed < 79200%}
			{% if time_passed < 5400 %}
				an hour ago
			{% else %}
				{{(time_passed/3600)|round}} hours ago
			{% endif %}
		{% elseif time_passed < 2160000 %}
			{% if time_passed < 129600 %}
				a day ago
			{% else %}
				{{(time_passed/86400)|round}} days ago
			{% endif %}
		{% elseif time_passed < 29808000 %}
			{% if time_passed < 3888000 %}
				a month ago
			{% else %}
				{{(time_passed/2592000)|round}} months ago
			{% endif %}
		{% else %}
			{% if time_passed < 47260800 %}
				a year ago
			{% else %}
				{{(time_passed/31536000)|round}} years ago
			{% endif %}
		{% endif %}
	</span>
	with Tags:
	{% for tag in chat.tags %}
		<span class="chat_tags"><a href="{{site}}/t/{{tag.name}}">#{{tag.name}}</a> </span>
	{% endfor %}
</div>
</div>
<div class="top_5 {% if user.name == chat.admin or serial == chat.admin %} edit_details {% endif %}" id="curr_details" data-toggle="tooltip" data-placement="top" data-original-title="Click to edit description" data-container="body">
{% if chat.details %}{{chat.details | slice(0,510) | raw}}{% if chat.details | length > 400 %}...<a id="continue_description" data-toggle="modal" data-target="#continue_modal" href="#" style="color:#075de9;word-break:break-all;">Continue</a>{% endif %}{% endif %}
</div>
<div class="modal fade" id="continue_modal" aria-hidden="false" tabindex="-1" role="dialog" aria-labelledby="continue_modalLabel">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h4 class="modal-title">Chat Description</h4>
			</div>
			<div class="modal-body">
				<div id="curr_details">
					{{chat.details | raw}}
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn" data-dismiss="modal">Close</button>
			</div>
		</div>
	</div>	
</div>
{% if user.name == chat.admin or serial == chat.admin %}
	<div class="modal fade" id="description_modal" aria-hidden="false" tabindex="-1" role="dialog" aria-labelledby="description_modalLabel">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					<h4 class="modal-title">Edit Chat Description</h4>
				</div>
				<div class="modal-body">
					<textarea rows="7" id="detail_text">{{chat.raw_details | raw}}</textarea>
				</div>
				<div class="modal-footer">
					<button class="btn btn-success" id="save_details">Save Details</button>
				</div>
			</div>
		</div>	
	</div>
{% endif %}
{% endblock %}

{% block content %}
<div id="up_arr" style="display:none;">{{mssg_upvoted | json_encode()}}</div>
<div id="down_arr" style="display:none;">{{mssg_downvoted | json_encode()}}</div>
<div class="frame_cont">
<div class="confirmation_box" id="action_confirmed"><div class="confirmation_inner"><div class="glyphicon glyphicon-ok check_mark"></div> <span id="modified_ident"></span> <span id="modified_message"></span></div></div>
	<div id="notify_cont_top">
		<div class="notify_position_top"><div class="glyphicon glyphicon-map-marker rotate notify_bubble"></div></div>
		<div id="notify_text_top">0</div>
	</div>
	<div id="notify_cont_bottom">
		<div class="notify_position_bottom"><div class="glyphicon glyphicon-map-marker notify_bubble"></div></div>
		<div id="notify_text_bottom">0</div>
	</div>
	<div class="frame chat_main" id="chat_messages">
		<div id="chat_display">
		{% set prev_level = 0 %}
		{% for message in chat.messages %}
			{% if not loop.first and prev_level >= message.level %}
				{% for i in message.level..prev_level %}
					</div>
				{% endfor %}
			{% endif %}
			{% if message.responseto == 0 %}
			<div class="response_to_0 mssg_cont level_{{message.level}} parent_{{message.parent}}" id="mssg_cont_{{message.id}}">
			{% else %}
			<div class="response_to_{{message.responseto}} mssg_cont level_{{message.level}} parent_{{message.parent}} pad_l_20" id="mssg_cont_{{message.id}}">
			{% endif %}
				<div class="chat_mssg" id="message_{{message.id}}">
					<div class="row" style="margin:0;">
						<div class="mssg_body_cont">
							<div class="vote_box">
								{% if message.id in mssg_upvoted %}
									<span class="glyphicon glyphicon-chevron-up mssg_upvote" id="mssg_upvote_{{message.id}}" style="color:#57bf4b" data-toggle="tooltip" data-original-title="You must be logged in to vote on messages" data-container="body" data-placement="top"></span>
									<div class="upvote_count" id="mssg_votes_{{message.id}}">{{message.upvotes - message.downvotes}}</div>
									<span class="glyphicon glyphicon-chevron-down mssg_downvote" id="mssg_downvote_{{message.id}}" data-toggle="tooltip" data-original-title="You must be logged in to vote on messages" data-container="body" data-placement="bottom"></span>
								{% elseif message.id in mssg_downvoted %}
									<span class="glyphicon glyphicon-chevron-up mssg_upvote" id="mssg_upvote_{{message.id}}" data-toggle="tooltip" data-original-title="You must be logged in to vote on messages" data-container="body" data-placement="top"></span>
									<div class="upvote_count" id="mssg_votes_{{message.id}}">{{message.upvotes - message.downvotes}}</div>
									<span class="glyphicon glyphicon-chevron-down mssg_downvote" id="mssg_downvote_{{message.id}}" style="color:red;" data-toggle="tooltip" data-original-title="You must be logged in to vote on messages" data-container="body" data-placement="bottom"></span>
								{% else %}
									<span class="glyphicon glyphicon-chevron-up mssg_upvote" id="mssg_upvote_{{message.id}}" data-toggle="tooltip" data-original-title="You must be logged in to vote on messages" data-container="body" data-placement="top"></span>
									<div class="upvote_count" id="mssg_votes_{{message.id}}">{{message.upvotes - message.downvotes}}</div>
									<span class="glyphicon glyphicon-chevron-down mssg_downvote" id="mssg_downvote_{{message.id}}" data-toggle="tooltip" data-original-title="You must be logged in to vote on messages" data-container="body" data-placement="bottom"></span>
								{% endif %}
							</div>
							<div class="mssg_body author_{{message.author}}">
								<div id="toggle_{{message.id}}" class="toggle_responses">
									<span class="caret caret_tooltip" id="caret_{{message.id}}" data-toggle="tooltip" data-original-title="Hide Responses" data-container="body" data-placement="top"></span>
								</div>
								{% if 'This message has been deleted' in message.message == 0 and (serial == message.author or user.name == message.author) %}
									<span id="message.id" class="glyphicon glyphicon-remove mssg_icon" data-toggle="tooltip" title="Delete post" data-container="body" data-placement="top"></span>	
								{% endif %}  
								{% if message.author == chat.admin %}
									<span class="glyphicon glyphicon-star"></span>	
								{% endif %}
								{% if message.author in mods %}
									<span class="glyphicon glyphicon-tower"></span>	
								{% endif %}
								<strong class="mssg_op" data-author="{{message.author}}" style="color:{{color_arr[message.serial % 7]}}"> {{message.author}} (<span class="response_count" id="{{message.id}}">{{message.responses}}</span>)</strong> : {{message.message | raw}}
								<div class="time_box">
									{% set time_passed = server_time|date('U') - message.created_at|date('U') %}
									<div class="time" id="{{message.created_at}}" title="{{message.created_at}} UTC">
										{% if time_passed < 45 %}
											seconds ago
										{% elseif time_passed < 2700 %}
											{% if time_passed < 90 %}
												a minute ago
											{% else %}
												{{(time_passed/60)|round}} minutes ago
											{% endif %}
										{% elseif time_passed < 79200%}
											{% if time_passed < 5400 %}
												an hour ago
											{% else %}
												{{(time_passed/3600)|round}} hours ago
											{% endif %}
										{% elseif time_passed < 2160000 %}
											{% if time_passed < 129600 %}
												a day ago
											{% else %}
												{{(time_passed/86400)|round}} days ago
											{% endif %}
										{% elseif time_passed < 29808000 %}
											{% if time_passed < 3888000 %}
												a month ago
											{% else %}
												{{(time_passed/2592000)|round}} months ago
											{% endif %}
										{% else %}
											{% if time_passed < 47260800 %}
												a year ago
											{% else %}
												{{(time_passed/31536000)|round}} years ago
											{% endif %}
										{% endif %}
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			{% set prev_level = message.level %}
			{% if loop.last %}
				{% if message.level > 0 %}
					{% for i in 0..message.level %}
						</div>
					{% endfor %}
				{% else %}
					</div>
				{% endif %}
			{% endif %}
		{% else %}
		{% endfor %}
		</div>
	</div>
</div>

<textarea class="global" id="message" style="height:23%;">
Press enter to send a message to all 
</textarea>

<div class="response_hint">Click on a message to respond to it</div>
<div class="enter_hint">Press Shift+Enter for new line</div>
{% endblock %}
