{% block header %}
<nav class="navbar {% if logged_in %}nav_pad_l{% endif %}">
	<div class="navbar-header">
		<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#mutual_navbar">
		<span class="sr-only">Toggle navigation</span>
		<span class="icon-bar"></span>
		<span class="icon-bar"></span>
		<span class="icon-bar"></span>
		</button>
		<a class="{{home_active}} navbar-brand hidden-xs" href="{{site}}/home"><img src="{{base}}/MC_home2.png"></a>
		<a class="{{home_active}} navbar-brand visible-xs" href="{{site}}/home">Mutual Cognizance</a>
	</div>
	<div class="collapse navbar-collapse" id="mutual_navbar" style="position:relative;">
		{% if not search_page %}
			<div class="community_search_cont">
				<span class="toggle_search glyphicon glyphicon-chevron-left community_search_expand"></span>
				<span class="toggle_search glyphicon glyphicon-search community_search_icon"></span>
				<span class="toggle_search glyphicon glyphicon-chevron-right community_search_collapse" style="display:none;"></span>
				<form class="navbar-form community_search has-feedback" role="search">
					<div class="form-group dropdown search_drop_cont">
						<input class="form-control community_input" id="search_input" type="text" placeholder="Search" autocomplete="off" maxlength="{{max_title_length}}">
						<span class="glyphicon glyphicon-search entry_search_submit form-control-feedback" style="margin-top:-2px;"></span>
						<ul class="dropdown-menu" id="community_dropdown" role="menu" aria-labelledby="search_input">
						</ul>
					</div>
				</form>
			</div>
		{% endif %}
		<ul class="nav navbar-nav nav_right {% if not search_page %}nav_pad_r{% endif %}">
			{% for community in communities %}
				{% if curr_community.name == community.name %}
					<li><a class="highlight_light_blue" href="{{site}}/c/{{community}}">{{community}}</a></li>
				{% else %}
					<li><a href="{{site}}/c/{{community}}">{{community}}</a></li>
				{% endif %}
			{% endfor %}
		</ul>
	</div>
</nav>
{% endblock %}

{% block friend_list %}
<div class="hidden-xs hidden-sm friend_list">
<div style="position:relative;">
	<a href="#" class="dropdown-toggle left_menu_toggle" data-toggle="dropdown">Friends <strong class="caret" style="color:white;"></strong></a>
	<ul class="dropdown-menu" role="menu" style="width:191px;margin-top:-1px;border:none;">
		<li><a class="show_subscriptions" href="#">Subscriptions</a></li>
		<li><a class="show_friends" href="#" style="display:none;">Friends</a></li>
	</ul>
</div>
<div id="friend_box_cont">
{% for friendship in user.friendships %}
	<div class="friend_box" id="friend_box_for_{{friendship.entity.name}}" data-friend-id="{{friendship.entity.id}}" data-pm-chat-id="{% if friendship.entity.privateChatF[0] %}{{friendship.entity.privateChatF[0].id}}{% else %}0{% endif %}" title="{{friendship.entity.online}}">
	{% if friendship.entity.online_score < 600 %}
		<div class="green_ball friend_status" id="friend_{{friendship.entity.id}}_status"></div>
	{% elseif friendship.entity.online_score < 7200 %}
		<div class="yellow_ball friend_status" id="friend_{{friendship.entity.id}}_status"></div>
	{% else %}
		<div class="red_ball friend_status" id="friend_{{friendship.entity.id}}_status"></div>
	{% endif %}
	{{friendship.entity.name}}
	{% if not friendship.entity.chat_id or friendship.entity.anonymous %}
		<div style="font-size:13px;margin-top:-5px;">Just browsing</div>
	{% else %}
		<div style="font-size:13px;margin-top:-5px;">In a <a class="visible_link" href="{{site}}/chat/{% if friendship.entity.chatRoom.live %}live{% else %}static{% endif %}/{{friendship.entity.chat_id}}">chat</a></div>
	{% endif %}
	</div>
{% else %}
	<div style="color:white;font-size:12px;margin-top:10px;margin-left:5px;">
		You don't have any friends yet
	</div>
{% endfor %}
</div>
<div id="subscription_cont">
	{% for sub in user.subscriptions %}
		<a class="subscription" href="{{site}}/c/{{sub.name}}">{{sub.name}}</a>
	{% else %}
		<div class="subscription">No subscriptions</div>
	{% endfor %}
</div>
</div>
{% endblock %}

{% block pm_bar %}
	<div class="pm_bar">
		{% for pm in user.privateChats %}
			<div class="pm_cont {% if pm.pivot.visible == 1 %}pm_visible" style="visibility:hidden;{% endif %}" id="pm_{{pm.friends[0].id}}_{{pm.id}}">
				<div class="pm_header">
					{% if pm.friends[0].online_score < 600 %}
					<div class="green_ball pm_status"></div>
					{% elseif pm.friends[0].online_score < 7200%}
					<div class="yellow_ball pm_status"></div>
					{% else %}
					<div class="red_ball pm_status"></div>
					{% endif %}
					<div class="glyphicon glyphicon-remove pm_remove"></div>
					<a class="pm_name" href="{{site}}/u/{{pm.friends[0].name}}">{{pm.friends[0].name}}</a>
				</div>
				<div class="pm_body" {% if pm.pivot.visible == 2 %}style="display:none;"{% endif %}>
					<div class="pm_body_mssgs">
					{% for message in pm.messages %}
						<div class="pm_mssg_cont">
							<div class="pm_message {% if message.author_id == user.id %}pull-right" style="background-color:#eee;margin-left:30px;margin-right:5px;"{% else %} pull-left darker_bright_blue_background" style="margin-right:30px;margin-left:5px;"{% endif %} title="{{message.created_at}}">
								{{message.message|raw}}
							</div>	
						</div>
					{% endfor %} 
					</div>
					<div class="pm_body_alerts">
						<div class="pm_mssg_alert pm_unseen" {% if not pm.pivot.unseen %}style="display:none;"{% endif %}>Not seen</div>
						<div class="pm_mssg_alert pm_typing" style="display:none;">{{pm.friends[0].name}} is typing...</div>
					</div>
				</div>
				<textarea class="pm_text" rows=1 {% if pm.pivot.visible == 2 %}style="display:none;"{% endif %}></textarea>
			</div>
		{% endfor %}
	</div>
{% endblock %}

{% block modals %}
<div class="modal fade" id="continue_modal" aria-hidden="false" tabindex="-1" role="dialog" aria-labelledby="continue_modalLabel">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h4 class="modal-title">Chat Description</h4>
			</div>
			<div class="modal-body">
				<div id="curr_details">
					{{chat.details | raw}}
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn" data-dismiss="modal">Close</button>
			</div>
		</div>
	</div>	
</div>
<div class="modal fade" id="description_modal" aria-hidden="false" tabindex="-1" role="dialog" aria-labelledby="description_modalLabel">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h4 class="modal-title">Edit Chat Description</h4>
			</div>
			<div class="modal-body">
				<textarea rows="7" id="detail_text" maxlength="{{max_static_length}}">{{chat.raw_details | raw}}</textarea>
			</div>
			<div class="modal-footer">
				<button class="btn btn-success" id="save_details">Save Details</button>
			</div>
		</div>
	</div>	
</div>
<div class="modal fade" id="chat_modal" aria-hidden="false" tabindex="-1" role="dialog" aria-labelledby="chat_modalLabel">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h4 class="modal-title">Create a Chat</h4>
			</div>
			<div class="modal-body">
				<form method="post" action="{{site}}/chat/new-chat" class="mutual_form" id="home_form_v2">
				<fieldset>
					<div id="title_group_v2" class="form-group">
						<label for="Title_v2">Title</label>
						<input class="form-control" data-toggle="tooltip" data-placement="top" data-original-title="Title must be have between 5 and {{max_title_length}} characters" data-trigger="focus" type="text" name="title" id="Title_v2" placeholder="What's this chat about?" maxlength="{{max_title_length}}">
					</div>
					<div id="link_group_v2" class="form-group">
						<label for="Link_v2">Link <small>(optional)</small></label>
						<input class="form-control" data-toggle="tooltip" data-placement="top" data-original-title="Not a valid url" data-trigger="focus" type="text" name="link" id="Link_v2" placeholder="Add a link (optional)">
					</div>
					<div id="communities_group_v2" class="form-group">
						{% if not curr_community_id %}
							<label for="Communities_v2">Communities</label>
						{% endif %}
						<input class="form-control communities_input" data-toggle="popover" data-content="<div>Some content</div>" data-original-title="Suggested Communities" data-placement="bottom" type="{% if curr_community_id %}hidden{% else %}text{% endif %}" name="communities" id="Communities_v2" placeholder="Use spaces to separate communities (max: 5)" autocomplete="off" {% if curr_community_id %}value="#{{curr_community.name}}"{% endif %} maxlength="120">
					</div>
					<div id="description_group" class="form-group">
						<label for="description">Description <small>(optional)</small></label>
						<textarea name="description" data-toggle="tooltip" data-placement="top" data-original-title="Descriptions have a max length of {{max_static_length}} characters" data-trigger="focus" class="form-control" id="description" rows="5" maxlength="{{max_static_length}}"></textarea>
					</div>
					<div class="row">
						<div id="live_group" class="checkbox col-xs-6">
							<label>
								<input type="checkbox" name="live_status" id="live_status_v2" checked> Live <div class="glyphicon glyphicon-info-sign" data-toggle="tooltip" data-original-title="Live chats don't need to be refreshed to see new comments but comments are only sorted by time" style="margin-left:5px;"></div>
							</label>
						</div>
						<div id="nsfw_group" class="checkbox col-xs-6" style="margin-top:10px;">
							<label>
								<input type="checkbox" name="nsfw" id="nsfw_v2"> nsfw <div class="glyphicon glyphicon-info-sign" data-toggle="tooltip" data-original-title="NSFW posts don't show up on the front page and only show pictures in nsfw communities" style="margin-left:5px;"></div>
							</label>
						</div>
					</div>
				</fieldset>
			</div>
			<div class="modal-footer">
				<button class="btn btn-primary" type="Submit">Create</button>
				<button type="button" class="btn" data-dismiss="modal">Close</button>
				</form>
			</div>
		</div>
	</div>	
</div>
<div class="modal fade" id="community_create_modal" aria-hidden="false" tabindex="-1" role="dialog" aria-labelledby="community_create_modalLabel">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h4 class="modal-title">Create Community</h4>
			</div>
			<div class="modal-body">
				<form method="post" action="{{site}}/community/create-community" class="mutual_form" id="community_create_form">
				<fieldset>
					<div id="create_name_group" class="form-group">
						<label for="name">Community Name</label>
						<input class="form-control" data-toggle="tooltip" data-placement="top" data-original-title="Community name must be unique" data-trigger="focus" type="text" name="community_name" id="create_community_name" placeholder="Communities are between 3 and 20 characters" maxlength="20">
					</div>
					{% if user.is_admin %}
					<div id="create_tier_group" class="form-group">
						<label for="tier">Community Tier</label>
						<select class="form-control">
							<option value="0">Community</option>
							<option value="1">Category</option>
						</select>
					</div>
					{% endif %}
					<div id="create_desc_group" class="form-group">
						<label for="description">Community Description (Doesn't show up in sidebar)</label>
						<input class="form-control" data-toggle="tooltip" data-placement="top" data-original-title="Description must be a max of {{max_description_length}} characters" data-trigger="focus" type="text" name="description" id="create_community_desc" placeholder="Write a very short description of the content in your community" maxlength="{{max_description_length}}">
					</div>
					<div id="create_info_group" class="form-group">
						<label for="info">Community Info (Sidebar Description, Posting Rules, etc)</label>
						<textarea class="form-control" data-toggle="tooltip" data-placement="top" data-original-title="Info must be a max of {{max_info_length}} characters" data-trigger="focus" name="info" id="create_community_info" rows=8 maxlength="{{max_info_length}}"></textarea>
					</div>
				</fieldset>
				<small>You will be able to request mods after community creation by clicking the manage community button in the sidebar</small>
			</div>
			<div class="modal-footer">
				<button class="btn btn-primary" type="Submit">Save</button>
				<button type="button" class="btn" data-dismiss="modal">Close</button>
				</form>
			</div>
		</div>
	</div>	
</div>
<div class="modal fade" id="community_edit_modal" aria-hidden="false" tabindex="-1" role="dialog" aria-labelledby="community_edit_modalLabel">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h4 class="modal-title">Edit Community</h4>
			</div>
			<div class="modal-body">
				<form method="post" action="{{site}}/community/edit-community" class="mutual_form" id="community_edit_form">
				<fieldset>
					<div id="community_id_group" class="form-group">
						<input class="form-control" type="hidden" name="community_id" id="input_community_id" maxlength="20">
					</div>
					<div id="community_desc_group" class="form-group">
						<label for="description">Community Description (Doesn't show up in sidebar)</label>
						<input class="form-control" data-toggle="tooltip" data-placement="top" data-original-title="Description must be a max of {{max_description_length}} characters" data-trigger="focus" type="text" name="description" id="edit_community_desc" placeholder="Write a very short description of the content in your community" maxlength="{{max_description_length}}">
					</div>
					<div id="community_info_group" class="form-group">
						<label for="info">Community Info (Sidebar Description, Posting Rules, etc)</label>
						<textarea class="form-control" data-toggle="tooltip" data-placement="top" data-original-title="Info must be a max of {{max_info_length}} characters" data-trigger="focus" name="info" id="edit_community_info" rows=10 maxlength="{{max_info_length}}"></textarea>
					</div>
					<div id="mod_info_group" class="form-group">
						<label for="mods" style="width:100%;">Appoint mods (max:20) <small>*must be subscribed </small><small id="mod_request_sent" class="green_color pull-right" style="display:none;">Request Sent</small></label>
						<input class="form-control" data-toggle="popover" data-user-id="" data-community-id="{{curr_community_id}}" data-community-name="{{curr_community.name}}" data-content="<div>Some content</div>" data-container="body" data-placement="auto top" type="text" name="mods" id="mod_input" placeholder="Use enter or mouse to select from list" autocomplete="off" maxlength="{{max_user_length}}">
					</div>
					<div id="admin_info_group" class="form-group">
						<label for="admins" style="width:100%;">Appoint new admin <small>*must be subscribed </small><small id="admin_request_sent" class="green_color pull-right" style="display:none;">Request Sent</small></label>
						<input class="form-control" data-toggle="popover" data-user-id="" data-community-id="{{curr_community_id}}" data-community-name="{{curr_community.name}}" data-content="<div>Some content</div>" data-container="body" data-placement="auto top" type="text" name="admins" id="admin_input" placeholder="Use enter or mouse to select from list" autocomplete="off" maxlength="{{max_user_length}}">
					</div>
				</fieldset>
			</div>
			<div class="modal-footer">
				<button class="btn btn-primary" type="Submit">Save</button>
				<button type="button" class="btn" data-dismiss="modal">Close</button>
				</form>
			</div>
		</div>
	</div>	
</div>
<div class="modal fade" id="remove_modal" aria-hidden="false" tabindex="-1" role="dialog" aria-labelledby="remove_modalLabel">
	<div class="modal-dialog modal-sm">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h4 class="modal-title">Remove Post?</h4>
			</div>
			<div class="modal-footer">
				<a href="{{site}}/chat/soft-remove/" class="btn btn-primary" id="remove_chat_final" type="Submit">Yes</a>
				<button type="button" class="btn" data-dismiss="modal">No</button>
			</div>
		</div>
	</div>	
</div>
<div class="modal fade" id="members_modal" aria-hidden="false" tabindex="-1" role="dialog" aria-labelledby="members_modalLabel">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h4 class="modal-title">Chat members</h4>
			</div>
			<div class="modal-body chat_member_cont">
			{% for member in chat.users %}
			{% if not loop.last %}
				<div class="chat_member light_divider_bottom">
					{% if member.pivot.active %}
						<a class="dark_link" href="{{site}}/u/{{member.name}}">{{member.name}}</a>
					{% else %}
						<a class="grey_link" href="{{site}}/u/{{member.name}}">{{member.name}}</a>
					{% endif %}
					{% if member.id != user.id %}
						<button class="btn btn-primary pull-right" style="margin-top:-6px;" id="request_friend" data-user-id="{{member.id}}" data-user-name="{{member.name}}"><div class="glyphicon glyphicon-plus" id="request_glyph"> </div> Friend</button>
					{% endif %}
					{% if member.id != user.id and (user.name == chat.admin or serial == chat.admin) %}
						<button class="btn btn-default pull-right" style="margin-top:-6px;margin-right:5px;" id="mod_user" data-user-id="{{member.id}}" data-user-name="{{member.name}}"><div class="glyphicon glyphicon-tower"> </div> Mod</button>
					{% endif %}
				</div>
			{% else %}
				<div class="chat_member">
					{% if member.pivot.active %}
						<a class="dark_link" href="{{site}}/u/{{member.name}}">{{member.name}}</a>
					{% else %}
						<a class="grey_link" href="{{site}}/u/{{member.name}}">{{member.name}}</a>
					{% endif %}
					{% if member.id != user.id %}
						<button class="btn btn-primary pull-right" style="margin-top:-6px;" id="request_friend" data-user-id="{{member.id}}" data-user-name="{{member.name}}"><div class="glyphicon glyphicon-plus" id="request_glyph"> </div> Friend</button>
					{% endif %}
					{% if member.id != user.id and (user.name == chat.admin or serial == chat.admin) %}
						<button class="btn btn-default pull-right" style="margin-top:-6px;margin-right:5px;" id="mod_user" data-user-id="{{member.id}}" data-user-name="{{member.name}}"><div class="glyphicon glyphicon-tower"> </div> Mod</button>
					{% endif %}
				</div>
			{% endif %}
			{% endfor %}
			</div>
			<div class="modal-footer">
				<button type="button" class="btn" data-dismiss="modal">Close</button>
			</div>
		</div>
	</div>	
</div>
<div class="modal fade" id="keywords_modal" aria-hidden="false" tabindex="-1" role="dialog" aria-labelledby="keywords_modalLabel">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h4 class="modal-title">Search Keywords</h4>
			</div>
			<div class="modal-body">
				<small>*All searches are case insensitive</small>
				<ul class="list-unstyled">
					<li>
						<h4>Posts</h4>
						<ul>
							<li><strong>in</strong> (eg. 'Posts in science, philosophy')</li>
							<li><strong>about</strong> (eg. 'Posts about news')</li>
							<li><strong>here</strong> (eg. 'Posts about news in here')</li>
							<li><strong>by</strong> (eg. 'Posts by user1')</li>
							<li><strong>sfw</strong> (eg. 'sfw posts about funny')</li>
							<li><strong>nsfw</strong> (eg. 'nsfw posts about x')</li>
							<li><strong>static</strong> (eg. 'static posts about stories')</li>
							<li><strong>live</strong> (eg. 'live posts about smiling')</li>
						</ul>
					</li>
					<li>
						<h4>Communities</h4>
						<ul>
							<li><strong>named</strong> (eg. 'Communities named nature')</li>
							<!--<li><strong>similar to</strong> (eg. 'Communities similar to nature', if nature was a community)</li>
							<li><strong>about</strong> (eg. 'Communities about trees', if trees was a subject)</li>-->
						</ul>
					</li>
					<li>
						<h4>Users</h4>
						<ul>
							<li><strong>named</strong> (eg. 'Users named user1')</li>
							<li><strong>who like</strong> (eg. 'Users who like Inception')</li>
							<!--<li><strong>near</strong> (eg. 'Users near me')</li>-->
						</ul>
					</li>
				</ul>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn" data-dismiss="modal">Close</button>
			</div>
		</div>
	</div>	
</div>
<div class="modal fade" id="message_modal" aria-hidden="false" tabindex="-1" role="dialog" aria-labelledby="message_modalLabel">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h4 class="modal-title">Create new message</h4>
			</div>
			<div class="modal-body">
				<form method="post" action="{{site}}/profile/message-user/" id="message_user_form">
				<textarea id="message_body" name="message_body" rows=5></textarea>
			</div>
			<div class="modal-footer">
				<button class="btn btn-primary" type="Submit">Send</button>
				</form>
			</div>
		</div>
	</div>	
</div>
<div class="modal fade" id="register_modal" aria-hidden="false" tabindex="-1" role="dialog" aria-labelledby="register_modalLabel">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h4 id="reg_modal_title" class="modal-title">Create an account</h4>
			</div>
			<div class="modal-body">
				<form method="post" action="{{site}}/profile/register" class="mutual_form" id="register_form">
				<fieldset>
					<div id="reg_user_group" class="form-group">
						<label for="username">Preferred Username</label>
						<input class="form-control" data-toggle="tooltip" data-placement="auto top" data-original-title="Username must be longer than 2 characters but less than 15" data-trigger="focus" data-container="body" type="text" name="username" id="reg_username" placeholder="Usernames are between 3 and {{max_user_length}} characters" maxlength="{{max_user_length}}">
					</div>
					<div id="reg_pass1_group" class="form-group">
						<label for="pass">Password</label>
						<input class="form-control" data-toggle="tooltip" data-placement="auto top" data-original-title="Password must be between 6 and 30 characters" data-trigger="focus" data-container="body" type="password" name="pass" id="reg_pass" placeholder="Passwords are between 6 and 30 characters" maxlength="30">
					</div>
					<div id="pass2_group" class="form-group">
						<label for="pass2">Confirm Password</label>
						<input class="form-control" data-toggle="popover" data-original-title="Passwords don't match" data-container="body" data-placement="auto top" data-trigger="focus" type="password" name="pass2" id="pass2" placeholder="Enter your password again">
					</div>
					<div id="email_group" class="form-group">
						<label for="pass2">Email <small>(optional, only for recovery purposes)</small></label>
						<input class="form-control" data-toggle="popover" data-original-title="Not a valid email" data-container="body" data-placement="auto top" data-trigger="focus" type="email" name="email" id="email" placeholder="Enter your email" maxlength="{{max_title_length}}">
					</div>
				</fieldset>
			</div>
			<div class="modal-footer">
				<button class="btn btn-primary" type="Submit">Register</button>
				<button type="button" class="btn close_reg" data-dismiss="modal">Close</button>
				</form>
			</div>
		</div>
	</div>	
</div>
<div class="modal fade" id="edit_modal" aria-hidden="false" tabindex="-1" role="dialog" aria-labelledby="edit_modalLabel">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h4 class="modal-title">Edit Chat</h4>
			</div>
			<div class="modal-body">
				<form method="post" action="{{site}}/chat/edit-chat" class="mutual_form" id="home_form_v3">
				<fieldset>
					<div id="id_group" class="form-group">
						<input class="form-control" type="hidden" name="chat_id" id="form_chat_id">
					</div>
					<div id="title_group_v3" class="form-group">
						<label for="Title_v3">Title</label>
						<input class="form-control" data-toggle="tooltip" data-placement="top" data-original-title="Titles must be unique and have between 5 and {{max_title_length}} characters" data-trigger="focus" type="text" name="title" id="Title_v3" placeholder="What's this chat about?" maxlength="{{max_title_length}}">
					</div>
					<div id="link_group_v3" class="form-group">
						<label for="Link_v3">Link <small>(optional)</small></label>
						<input class="form-control" data-toggle="tooltip" data-placement="top" data-original-title="Not a valid url" data-trigger="focus" type="text" name="link" id="Link_v3" placeholder="Add a link (optional)" maxlength="{{max_static_length}}">
					</div>
					<div id="communities_group_v3" class="form-group">
						<label for="Communities_v3">Communities</label>
						<input class="form-control communities_input" data-toggle="popover" data-content="<div>Some content</div>" data-original-title="Suggested Communities" data-placement="bottom" type="text" name="communities" id="Communities_v3" placeholder="Use spaces to separate communities (max: 5)" autocomplete="off" maxlength="120">
					</div>
					<div id="description_group_v3" class="form-group">
						<label for="description">Description <small>(optional)</small></label>
						<textarea name="description" data-toggle="tooltip" data-placement="top" data-original-title="Descriptions have a max length of {{max_static_length}} characters" data-trigger="focus" class="form-control" id="description_v3" rows="5" maxlength="{{max_static_length}}"></textarea>
					</div>
					<div class="row">
						<div id="live_group" class="checkbox col-xs-6">
							<label>
								<input type="checkbox" name="live_status" id="live_status_v3" checked> Live <div class="glyphicon glyphicon-info-sign" data-toggle="tooltip" data-original-title="Live chats don't need to be refreshed to see new comments but are not filtered" style="margin-left:5px;"></div>
							</label>
						</div>
						<div id="nsfw_group" class="checkbox col-xs-6" style="margin-top:10px;">
							<label>
								<input type="checkbox" name="nsfw" id="nsfw_v3"> nsfw <div class="glyphicon glyphicon-info-sign" data-toggle="tooltip" data-original-title="NSFW posts don't show up on the front page and only show pictures in nsfw communities" style="margin-left:5px;"></div>
							</label>
						</div>
					</div>
				</fieldset>
			</div>
			<div class="modal-footer">
				<button class="btn btn-primary" type="Submit">Save</button>
				<button type="button" class="btn" data-dismiss="modal">Close</button>
				</form>
			</div>
		</div>
	</div>	
</div>
{% endblock %}

{% block welcome %}
<div style="display:none;" id="sid" data-sid="{{sid}}"></div>
<div {% if not logged_in %}style="margin-bottom:5px;"{% endif %}>Welcome, 
{% if not user %}
	<div id="serial_id" style="display:none;">{{serial_id}}</div>
	<span id="serial_tracker">{{serial}}</span>
{% else %}
	<div id="serial_id" style="display:none;">{{serial_id}}</div>
	<div id="serial_tracker" style="display:none;">{{serial}}</div>
	<div id="user_id" style="display:none;">{{user.id}}</div>
	<a class="pull-right btn btn-default btn-xs user_tooltip" href="{{site}}/profile/logout" data-toggle="tooltip" data-container="body" data-original-title="Logout"><div class="glyphicon glyphicon-log-out"></div></a>
	<a style="margin-right:5px;" class="pull-right btn btn-default btn-xs user_tooltip" href="#" data-toggle="tooltip" data-container="body" data-original-title="Settings"><div class="glyphicon glyphicon-cog"></div></a>
	<span><a href="{{site}}/u/{{user.name}}" style="color:{{color_arr[serial % 7]}};"><strong id="user_tracker">{{user.name}}</strong></a></span>
{% endif %}
{% if not user %}
<span class="pull-right"><a href="#" data-toggle="modal" class="register_link" data-target="#register_modal">Register?</a></span>
{% endif %}
</div>
<div id="logged_in" style="display:none;">{% if logged_in %}1{% else %}0{% endif %}</div>
{% if not logged_in %}
	<form method="post" action="{{site}}/profile/login" class="mutual_form" id="login_form">
	<fieldset>
		<div id="user_group" class="form-group">
			<input class="form-control input-sm" data-toggle="tooltip" data-placement="auto top" data-original-title="Username or password incorrect" data-trigger="focus" data-container="body" type="text" name="username" id="username" placeholder="Enter your username" maxlength="{{max_user_length}}">
		</div>
		<div id="pass1_group" class="form-group">
			<input class="form-control input-sm" type="password" name="pass" id="pass" placeholder="Enter your password" maxlength="30">
		</div>
		<button class="btn btn-primary" type="Submit" style="width:100%;">Login</button>
	</fieldset>
	</form>
{% else %}
	<div style="font-size:14px;">Cognizance: {{user.cognizance}}/{{user.next_level}} (Level: {{user.level}})</div>
	<div class="progress progress-striped active">
		<div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="{{user.cognizance}}" aria-valuemin="0" aria-valuemax="{{user.next_level}}" style="width:{{(user.cognizance / user.next_level) * 100}}%;">
			<span class="sr-only">Only {{user.cognizance}}% Complete</span>
		</div>
	</div>
	<div class="row" style="margin:10px 0 0 0;">
		<button class="btn btn-sm col-xs-3 btn-default request_btn" id="friend_requests" data-toggle="popover" data-content="
			{% for request in user.friendNotifications %}
				{{request.message}}
			{% else %}
				<div class='request_text'>No friend requests</div>
			{% endfor %}" data-container="body" data-placement="bottom">
			<div class="glyphicon glyphicon-user request_glyph {% if user.friendNotifications|length > 0 %}pull-left{% endif %}" id="friend_request_glyph"></div>
			<span class="badge pull-right" id="friend_requests_count">{% if user.friendNotifications|length > 0 %}{{user.friendNotifications|length}}{% endif %}</span>
		</button>
		<button class="btn btn-sm col-xs-offset-1 col-xs-4 btn-default request_btn" id="mssg_requests" data-toggle="popover" data-content="
			{% for request in user.mssgNotifications %}
				{{request.message}}
			{% else %}
				<div class='request_text'>No messages</div>
			{% endfor %}" data-container="body" data-placement="bottom">
			<div class="glyphicon glyphicon-envelope request_glyph {% if user.mssgNotifications|length > 0 %}pull-left{% endif %}" id="message_request_glyph"></div>
			<span class="badge pull-right" id="mssg_requests_count">{% if user.mssgNotifications|length > 0 %}{{user.mssgNotifications|length}}{% endif %}</span>
		</button>
		<button class="btn btn-sm col-xs-offset-1 col-xs-3 btn-default request_btn" id="global_requests" data-toggle="popover" data-content="
			{% for request in user.globalNotifications %}
				{{request.message}}
			{% else %}
				<div class='request_text'>No global requests</div>
			{% endfor %}" data-container="body" data-placement="bottom">
			<div class="glyphicon glyphicon-globe request_glyph {% if user.globalNotifications|length > 0 %}pull-left{% endif %}" id="global_request_glyph"></div>
			<span class="badge pull-right" id="global_requests_count">{% if user.globalNotifications|length > 0 %}{{user.globalNotifications|length}}{% endif %}</span>
		</button>
	</div>
{% endif %}
{% endblock %}

{% block chat_box %}
<div class="chat_title_box {% if not chat.seen %}{% if chat.pinned and not curr_community_id %}red_left_border{% elseif chat.community_pinned %}green_left_border{% else %}blue_left_border{% endif %}{% endif %}">
	<div class="row">
		<div class="number_box"> {{loop.index}}. </div>
		<div class="vote_box">
			{% if chat.id in upvoted %}
				<span class="glyphicon glyphicon-chevron-up big_upvote green_color" id="upvote_{{chat.id}}"></span>
				<div class="upvote_count" id="votes_{{chat.id}}">{{chat.upvotes - chat.downvotes}}</div>
				<span class="glyphicon glyphicon-chevron-down big_downvote" id="downvote_{{chat.id}}"></span>
			{% elseif chat.id in downvoted %}
				<span class="glyphicon glyphicon-chevron-up big_upvote" id="upvote_{{chat.id}}"></span>
				<div class="upvote_count" id="votes_{{chat.id}}">{{chat.upvotes - chat.downvotes}}</div>
				<span class="glyphicon glyphicon-chevron-down big_downvote red_color" id="downvote_{{chat.id}}"></span>
			{% else %}
				<span class="glyphicon glyphicon-chevron-up big_upvote" id="upvote_{{chat.id}}"></span>
				<div class="upvote_count" id="votes_{{chat.id}}">{{chat.upvotes - chat.downvotes}}</div>
				<span class="glyphicon glyphicon-chevron-down big_downvote" id="downvote_{{chat.id}}"></span>
			{% endif %}
		</div>
		{% if chat.image %}
			<a class="pull-left link_thumbnail" href="{{chat.link}}">
				<img src="{{chat.image}}" data-chat-img="{{chat.image}} alt="Image Error" width="80" height="80">
			</a>
		{% endif %}
		{% if chat.live %}
			<a href="{{site}}/{% if curr_community_id %}c/{{curr_community.name}}/{% endif %}live" class="pull-right glyphicon glyphicon-play brighter_green_color chat_status_indicator" title="Live chat"></a>
		{% else %}
			<a href="{{site}}/{% if curr_community_id %}c/{{curr_community.name}}/{% endif %}static" class="pull-right glyphicon glyphicon-pause darker_yellow_color chat_status_indicator" title="Static chat"></a>
		{% endif %}
		<div class="chat_community_str" style="display:none;">#{{chat.communities|join(' #')}}</div>
		<div class="chat_link_str" style="display:none;">{{chat.link}}</div>
		<div class="chat_title_str" style="display:none;">{{chat.title}}</div>
		<div class="chat_desc_str" style="display:none;">{{chat.raw_details}}</div>
		<div class="chat_live_str" style="display:none;">{{chat.live}}</div>
		<div class="chat_nsfw_str" style="display:none;">{{chat.nsfw}}</div>
		<div class="chat_id_str" style="display:none;">{{chat.id}}</div>
		<div class="chat_title">
			{% if chat.pinned and not curr_community_id %}
				{% if chat.link %}
					<a class="title_red_link" href="{{chat.link}}" >{{chat.title}}</a> <span class="site_name">from {{chat.site_name}}</span>
				{% else %}
					<a class="title_red_link" href="{{site}}/chat/{% if chat.live %}live{% else %}static{% endif %}/{{chat.id}}">{{chat.title}}</a>
				{% endif %}
			{% elseif chat.community_pinned %}
				{% if chat.link %}
					<a class="darker_green_link" href="{{chat.link}}">{{chat.title}}</a> <span class="site_name">from {{chat.site_name}}</span>
				{% else %}
					<a class="darker_green_link" href="{{site}}/chat/{% if chat.live %}live{% else %}static{% endif %}/{{chat.id}}">{{chat.title}}</a>
				{% endif %}
			{% else %}
				{% if chat.link %}
					<a class="chat_link" href="{{chat.link}}">{{chat.title}}</a> <span class="site_name">from {{chat.site_name}}</span>
				{% else %}
					<a class="chat_link" href="{{site}}/chat/{% if chat.live %}live{% else %}static{% endif %}/{{chat.id}}">{{chat.title}}</a>
				{% endif %}
			{% endif %}
			{% if chat.admin % 275604541 == 0 %}
				<div class="chat_info">Created by 
					<a href="{{site}}/u/{{chat.admin}}">
						<strong>
							{% if chat.author.is_admin or chat.author.is_mod %}
								<span class="red_color">{{chat.admin}}{% if chat.author.is_admin %}[A]{% elseif chat.author.is_mod %}[M]{% endif %}</span></strong></a>,
							{% elseif curr_community_id %}
								{% if chat.admin_id == community_admin.user_id or chat.admin_id in curr_community.moderators %}
									<span class="green_color">{{chat.admin}}{% if chat.admin_id == community_admin.user_id %}[A]{% elseif chat.admin_id in curr_community.moderators %}[M]{% endif %}</span></strong></a>,
								{% else %}
									{{chat.admin}}{% if chat.author.is_admin %}[A]{% elseif chat.author.is_mod %}[M]{% endif %}</strong></a>,
								{% endif %}
							{% else %}
								{{chat.admin}}{% if chat.author.is_admin %}[A]{% elseif chat.author.is_mod %}[M]{% endif %}</strong></a>,
							{% endif %}
			{% else %}
				<div class="chat_info">Created by <strong>{{chat.admin}}</strong>, 
			{% endif %}
				{% set time_passed = server_time|date('U') - chat.created_at|date('U') %}
				<span class="chat_time" id="{{chat.created_at}}" title="{{chat.created_at}}">
					{% if time_passed < 45 %}
						seconds ago
					{% elseif time_passed < 2700 %}
						{% if time_passed < 90 %}
							a minute ago
						{% else %}
							{{(time_passed/60)|round}} minutes ago
						{% endif %}
					{% elseif time_passed < 79200%}
						{% if time_passed < 5400 %}
							an hour ago
						{% else %}
							{{(time_passed/3600)|round}} hours ago
						{% endif %}
					{% elseif time_passed < 2160000 %}
						{% if time_passed < 129600 %}
							a day ago
						{% else %}
							{{(time_passed/86400)|round}} days ago
						{% endif %}
					{% elseif time_passed < 29808000 %}
						{% if time_passed < 3888000 %}
							a month ago
						{% else %}
							{{(time_passed/2592000)|round}} months ago
						{% endif %}
					{% else %}
						{% if time_passed < 47260800 %}
							a year ago
						{% else %}
							{{(time_passed/31536000)|round}} years ago
						{% endif %}
					{% endif %}
				</span>
				{% if not curr_community_id %}
					in Communities:
					{% for community in chat.communities %}
						<span class="chat_communities"><a href="{{site}}/c/{{community.name}}"><strong>#{{community.name}}</strong></a> </span>
					{% endfor %}
					and
				{% else %}
					with
				{% endif %}
				<a href="{{site}}/chat/{% if chat.live %}live{% else %}static{% endif %}/{{chat.id}}" style="color:gray;"><strong>{{chat.messages | length }} comments</strong></a>
			</div>
			<div> 
				{% if chat.nsfw %}
					<a href="{{site}}/{% if curr_community_id %}c/{{curr_community.name}}/{% endif %}nsfw" class="btn btn-danger btn-sm chat_info_link">NSFW</a>
				{% endif %}
				{% if user.name == chat.admin %}
					<button class="btn btn-default btn-sm chat_info_link edit_chat_link" data-toggle="modal" data-target="edit_modal">Edit</button>
				{% endif %}
				{% if user.name == chat.admin %}
					<a href="#" data-toggle="modal" data-remove-link="{{site}}/chat/hard-remove/{{chat.id}}/{{curr_community_id}}" class="btn btn-default btn-sm chat_info_link remove_chat_link" data-target="remove_modal">Remove</a>
				{% elseif user.is_admin or ((user.community_admin == curr_community_id or user.community_mod == curr_community_id) and (curr_community_id|length > 0)) %}
					<a href="#" data-toggle="modal" data-remove-link="{{site}}/chat/soft-remove/{{chat.id}}/{{curr_community_id}}" class="btn btn-default btn-sm chat_info_link remove_chat_link" data-target="remove_modal">Remove</a>
				{% endif %}
				{% if curr_community_id %}
					{% if chat.community_pinned %}
						{% if user.community_admin == curr_community_id or user.community_mod == curr_community_id %}
							<a href="{{site}}/community/unpin-post/{{chat.id}}/{{curr_community_id}}" class="btn btn-default btn-sm chat_info_link">UnPin</a>
						{% else %}
							<a href="{{site}}/c/{{curr_community.name}}/pinned" class="btn btn-default btn-sm chat_info_link">Pinned</a>
						{% endif %}
					{% elseif user.community_admin == curr_community_id or user.community_mod == curr_community_id %}
						<a href="{{site}}/community/pin-post/{{chat.id}}/{{curr_community_id}}" class="btn btn-default btn-sm chat_info_link">Pin</a>
					{% endif %}
				{% else %}
					{% if chat.pinned %}
						{% if user.is_admin or user.is_mod %}
							<a href="{{site}}/chat/unpin-post/{{chat.id}}" class="btn btn-default btn-sm chat_info_link">UnPin</a>
						{% else %}
							<a href="{{site}}/pinned" class="btn btn-default btn-sm chat_info_link">Pinned</a>
						{% endif %}
					{% elseif user.is_admin or user.is_mod %}
						<a href="{{site}}/chat/pin-post/{{chat.id}}" class="btn btn-default btn-sm chat_info_link">Pin</a>
					{% endif %}
				{% endif %}
				<a href="{{site}}/chat/static/{{chat.id}}" class="btn btn-default btn-sm chat_info_link">Static</a>
				{% if chat.details | length > 0 %}
					<button class="btn btn-default btn-sm chat_info_link toggle_description">Show description</button>
				{% endif %}
			</div>
			<div id="description_{{chat.id}}" class="description_cont" {% if chat.link %}style="margin-left:100px;"{% endif %}>
				{{chat.details | raw}}
			</div>
		</div>
	</div>
</div>
{% endblock %}

{% block static_mssg_cont %}
<div class="mssg_cont_inner">
	<div class="chat_mssg" id="message_{{message.id}}">
		<div class="row" style="margin:0;">
			<div class="mssg_body_cont">
				<div class="chat_vote_box">
					{% if message.id in mssg_upvoted %}
						<span class="glyphicon glyphicon-chevron-up mssg_upvote green_color" id="mssg_upvote_{{message.id}}"></span>
						<div class="upvote_count" id="mssg_votes_{{message.id}}">{{message.upvotes - message.downvotes}}</div>
						<span class="glyphicon glyphicon-chevron-down mssg_downvote" id="mssg_downvote_{{message.id}}"></span>
					{% elseif message.id in mssg_downvoted %}
						<span class="glyphicon glyphicon-chevron-up mssg_upvote" id="mssg_upvote_{{message.id}}"></span>
						<div class="upvote_count" id="mssg_votes_{{message.id}}">{{message.upvotes - message.downvotes}}</div>
						<span class="glyphicon glyphicon-chevron-down mssg_downvote red_color" id="mssg_downvote_{{message.id}}"></span>
					{% else %}
						<span class="glyphicon glyphicon-chevron-up mssg_upvote" id="mssg_upvote_{{message.id}}"></span>
						<div class="upvote_count" id="mssg_votes_{{message.id}}">{{message.upvotes - message.downvotes}}</div>
						<span class="glyphicon glyphicon-chevron-down mssg_downvote" id="mssg_downvote_{{message.id}}"></span>
					{% endif %}
				</div>
				<div class="mssg_body author_{{message.author}}">
					<div id="toggle_{{message.id}}" class="toggle_responses">
						<span class="caret caret_tooltip" id="caret_{{message.id}}" data-toggle="tooltip" data-original-title="Hide Responses" data-container="body" data-placement="top"></span>
					</div>
					{% if 'This message has been deleted' in message.message == 0 and (serial == message.author or user.name == message.author) %}
						<span id="remove_{{message.id}}" class="glyphicon glyphicon-remove mssg_icon" data-mssg-serial="{{response.serial}}" data-toggle="tooltip" title="Delete post" data-container="body" data-placement="top"></span>	
					{% endif %}  
					{% if message.author == chat.admin %}
						<span class="glyphicon glyphicon-star"></span>	
					{% endif %}
					{% if message.author in mods %}
						<span class="glyphicon glyphicon-tower"></span>	
					{% endif %}
					<strong class="mssg_op" data-author="{{message.author}}"><a href="{{site}}/u/{{message.author}}" style="color:{{color_arr[message.serial % 7]}}"> {{message.author}}</a> (<span class="response_count" id="{{message.id}}">{{message.responses}}</span>)</strong> : {{message.message | raw}}
					<div class="time_box">
						{% if not chat.live %}<div class="reply"><a href="#" class="reply_link" data-mssg-id="{{message.id}}"><strong>Reply</strong></a></div>{% endif %}
						{% set time_passed = server_time|date('U') - message.created_at|date('U') %}
						<div class="time" id="{{message.created_at}}" title="{{message.created_at}}">
							{% if time_passed < 45 %}
								seconds ago
							{% elseif time_passed < 2700 %}
								{% if time_passed < 90 %}
									a minute ago
								{% else %}
									{{(time_passed/60)|round}} minutes ago
								{% endif %}
							{% elseif time_passed < 79200%}
								{% if time_passed < 5400 %}
									an hour ago
								{% else %}
									{{(time_passed/3600)|round}} hours ago
								{% endif %}
							{% elseif time_passed < 2160000 %}
								{% if time_passed < 129600 %}
									a day ago
								{% else %}
									{{(time_passed/86400)|round}} days ago
								{% endif %}
							{% elseif time_passed < 29808000 %}
								{% if time_passed < 3888000 %}
									a month ago
								{% else %}
									{{(time_passed/2592000)|round}} months ago
								{% endif %}
							{% else %}
								{% if time_passed < 47260800 %}
									a year ago
								{% else %}
									{{(time_passed/31536000)|round}} years ago
								{% endif %}
							{% endif %}
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}

{% block static_resp_cont %}
<div class="mssg_cont_inner">
	<div class="chat_mssg" id="message_{{response.id}}">
		<div class="row" style="margin:0;">
			<div class="mssg_body_cont">
				<div class="chat_vote_box">
					{% if response.id in mssg_upvoted %}
						<span class="glyphicon glyphicon-chevron-up mssg_upvote green_color" id="mssg_upvote_{{response.id}}"></span>
						<div class="upvote_count" id="mssg_votes_{{response.id}}">{{response.upvotes - response.downvotes}}</div>
						<span class="glyphicon glyphicon-chevron-down mssg_downvote" id="mssg_downvote_{{response.id}}"></span>
					{% elseif response.id in mssg_downvoted %}
						<span class="glyphicon glyphicon-chevron-up mssg_upvote" id="mssg_upvote_{{response.id}}"></span>
						<div class="upvote_count" id="mssg_votes_{{response.id}}">{{response.upvotes - response.downvotes}}</div>
						<span class="glyphicon glyphicon-chevron-down mssg_downvote red_color" id="mssg_downvote_{{response.id}}"></span>
					{% else %}
						<span class="glyphicon glyphicon-chevron-up mssg_upvote" id="mssg_upvote_{{response.id}}"></span>
						<div class="upvote_count" id="mssg_votes_{{response.id}}">{{response.upvotes - response.downvotes}}</div>
						<span class="glyphicon glyphicon-chevron-down mssg_downvote" id="mssg_downvote_{{response.id}}"></span>
					{% endif %}
				</div>
				<div class="mssg_body author_{{response.author}}">
					<div id="toggle_{{response.id}}" class="toggle_responses">
						<span class="caret caret_tooltip" id="caret_{{response.id}}" data-toggle="tooltip" data-original-title="Hide Responses" data-container="body" data-placement="top"></span>
					</div>
					{% if 'This response has been deleted' in response.message == 0 and (serial == response.author or user.name == response.author) %}
						<span id="remove_{{response.id}}" class="glyphicon glyphicon-remove mssg_icon" data-mssg-serial="{{response.serial}}" data-toggle="tooltip" title="Delete post" data-container="body" data-placement="top"></span>	
					{% endif %}  
					{% if response.author == chat.admin %}
						<span class="glyphicon glyphicon-star"></span>	
					{% endif %}
					{% if response.author in mods %}
						<span class="glyphicon glyphicon-tower"></span>	
					{% endif %}
					<strong class="mssg_op" data-author="{{response.author}}"><a href="{{site}}/u/{{response.author}}" style="color:{{color_arr[message.serial % 7]}}"> {{response.author}}</a> (<span class="response_count" id="{{response.id}}">{{response.responses}}</span>)</strong> : {{response.message | raw}}
					<div class="time_box">
						{% if not chat.live %}<div class="reply"><a href="#" class="reply_link" data-mssg-id="{{response.id}}"><strong>Reply</strong></a></div>{% endif %}
						{% set time_passed = server_time|date('U') - response.created_at|date('U') %}
						<div class="time" id="{{response.created_at}}" title="{{response.created_at}}">
							{% if time_passed < 45 %}
								seconds ago
							{% elseif time_passed < 2700 %}
								{% if time_passed < 90 %}
									a minute ago
								{% else %}
									{{(time_passed/60)|round}} minutes ago
								{% endif %}
							{% elseif time_passed < 79200%}
								{% if time_passed < 5400 %}
									an hour ago
								{% else %}
									{{(time_passed/3600)|round}} hours ago
								{% endif %}
							{% elseif time_passed < 2160000 %}
								{% if time_passed < 129600 %}
									a day ago
								{% else %}
									{{(time_passed/86400)|round}} days ago
								{% endif %}
							{% elseif time_passed < 29808000 %}
								{% if time_passed < 3888000 %}
									a month ago
								{% else %}
									{{(time_passed/2592000)|round}} months ago
								{% endif %}
							{% else %}
								{% if time_passed < 47260800 %}
									a year ago
								{% else %}
									{{(time_passed/31536000)|round}} years ago
								{% endif %}
							{% endif %}
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
