<!DOCTYPE html>
<html lang="en">
<head>
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta charset="utf-8" />
	<meta name="viewport" content="width=device-width,height=device-height, initial-scale=1.0">
        <title>Mutual Cognizance</title>
	<link rel="icon" href="{{base}}/GavinWeb.ico" type="image/x-icon">
        <link rel="stylesheet" href="{{base}}/app/libraries/css/dist/css/bootstrap.min.css" />
        <link rel="stylesheet" href="{{base}}/app/libraries/css/home_style.min.css?{{version}}" />
        {% block styles %}{% endblock %}
	<script src='//cdnjs.cloudflare.com/ajax/libs/jquery/1.10.2/jquery.min.js'></script>
</head>
<body>
{% block header %}{% endblock %}
{% if logged_in %}
	{% block friend_list %}{% endblock %}
	<div class="wrapper_list_active">
{% else %}
	<div class="wrapper">
{% endif %}
	<div class="row" style="height:100%;">
		{% if logged_in %}
		<div class="col-sm-7 col-md-7 col-lg-9" id="main">
		{% else %}
		<div class="col-sm-7 col-md-8 col-lg-9" id="main">
		{% endif %}
			<div class="big_content_box">
				<div class="content_right">
				<div class="content_left">
					{% block tabs %}{% endblock %}
					{% block content %}{% endblock %}
				</div>
				</div>
			</div>
			{% block chat_content %}{% endblock %}
		</div>
		{% if logged_in %}
		<div class="col-sm-5 col-md-5 col-lg-3" id="side">
		{% else %}
		<div class="col-sm-5 col-md-4 col-lg-3" id="side">
		{% endif %}
			{% block tools %}{% endblock %}
			<div class="small_content_box">
				<div class="content_right">
				<div class="content_left">
					<div class="content side_content" id="welcome_user">
						{% block welcome %}{% endblock %}
					</div>
				</div>
				</div>
			</div>
			{% block side_1 %}{% endblock %}
			{% block side_2 %}{% endblock %}
			{% block side_3 %}{% endblock %}
			{% block side_4 %}{% endblock %}
			{% block side_5 %}{% endblock %}
		</div>
	</div>
	<div style="position:fixed;bottom:0px;right:0px;">
		<div style="width:240px;height:300px;background-color:white;border:solid 2px #bbb;">
		</div>
		<div style="width:240px;height:30px;background-color:#bbb;cursor:pointer;overflow:hidden;margin-right:5px;">
		</div>
	</div>
</div>
<script src="//{{io_url}}/socket.io/socket.io.js"></script>
<script src='//cdnjs.cloudflare.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js'></script>
<script src='//cdnjs.cloudflare.com/ajax/libs/moment.js/2.5.1/moment.min.js'></script>
<script type="text/javascript">
	document.writeln("<script type='text/javascript' src='{{base}}/app/libraries/css/dist/js/bootstrap.min.js'><" + "/script>");
	document.writeln("<script type='text/javascript' src='{{base}}/app/libraries/js/common.min.js?{{version}}'><" + "/script>");
	  var _gaq = _gaq || [];
	  _gaq.push(['_setAccount', 'UA-24332662-1']);
	  _gaq.push(['_trackPageview']);
	  (function() {
	    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
	    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
	    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	})();
</script>
{% block scripts %}{% endblock %}
</body>
</html>
