{% extends 'home_layout.twig' %}

{% block header %}
<nav class="navbar">
	<div class="navbar-header">
		<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#mutual_navbar">
		<span class="sr-only">Toggle navigation</span>
		<span class="icon-bar"></span>
		<span class="icon-bar"></span>
		<span class="icon-bar"></span>
		</button>
		<a class="navbar-brand" href="{{site}}">Home</a>
	</div>
	<div class="collapse navbar-collapse" id="mutual_navbar" style="position:relative;">
		<form class="navbar-form tag_search" role="search">
			<div class="form-group dropdown">
				<input class="form-control tag_input" id="search_input" type="text" placeholder="Search Tags" autocomplete="off">
				<ul class="dropdown-menu" id="tag_dropdown" role="menu" aria-labelledby="search_input">
				</ul>
			</div>
		</form>
		<ul class="nav navbar-nav">
			<li class="active"><a href="{{site}}/soon">Coming Soon</a></li>
			{% for tag in tags %}
				<li class="active"><a href="{{site}}/tags/tag/{{tag}}">{{tag}}</a></li>
			{% endfor %}
		</ul>
	</div>
</nav>
{% endblock %}

{% block welcome %}
<div style="margin-bottom:10px;">Welcome, {% if not user %}<span id="serial_tracker">{{serial}}</span>{% else %}<span id="user_tracker">{{user.name}}</span>{% endif %}</div>
{% if not logged_in %}
<form method="post" action="{{site}}/profile/newuser" class="mutual_form" id="login_form">
<fieldset>
	<div id="user_group" class="form-group">
		<input class="form-control" data-toggle="tooltip" data-placement="left" data-original-title="Username must be longer than 2 characters but less than 15" data-trigger="focus" data-container="body" type="text" name="username" id="username" placeholder="Enter your actual or preferred username">
	</div>
	<div id="pass1_group" class="form-group">
		<input class="form-control" data-toggle="tooltip" data-placement="left" data-original-title="Password must be longer than 6 characters but less than 30" data-trigger="focus" data-container="body" type="password" name="pass" id="pass" placeholder="Enter your password">
	</div>
	<div id="pass2_group" class="form-group">
		<input class="form-control" data-toggle="popover" data-original-title="Passwords don't match" data-container="body" data-placement="left" data-trigger="focus" type="password" name="pass2" id="pass2" placeholder="Enter password again to register">
	</div>
	<button class="btn btn-primary" type="Submit" style="width:100%;">Login/Register</button>
</fieldset>
</form>
{% else %}
<div class="last_login" id="{{user.last_login}}"></div>
<div>Cognizance: {{user.cognizance}}/{{100 + 20*user.level }} (Level: {{user.level}})</div>
<div class="progress progress-striped active">
	<div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="{{user.cognizance}}" aria-valuemin="0" aria-valuemax="{{100 + 20*user.level}}" style="width:{{user.cognizance}}%;">
		<span class="sr-only">Only {{user.cognizance}}% Complete</span>
	</div>
</div>
<a class="btn btn-success btn_btm_l" href="{{site}}/p/{{user.name}}">My Profile</a>
<a class="btn btn-primary btn_btm_r" href="{{site}}/profile/logout">Logout</a>
{% endif %}
{% endblock %}

{% block create %}
<form method="post" action="{{site}}/chat/newchat" class="mutual_form" id="home_form">
<fieldset>
	<legend>Create a new Chat</legend>
	<div id="title_group" class="form-group">
		<input class="form-control" data-toggle="tooltip" data-placement="left" data-original-title="Title must be longer than 2 characters but less than 180" data-trigger="focus" data-container="body" type="text" name="title" id="Title" placeholder="What's this chat about?">
	</div>
	<div id="link_group" class="form-group">
		<input class="form-control" type="text" name="link" id="Link" placeholder="Add a link (optional)">
	</div>
	<div id="tags_group" class="form-group">
		<input class="form-control" data-toggle="popover" data-content="<div>Some content</div>" data-original-title="Suggested Tags" data-container="body" data-placement="bottom" type="text" name="tags" id="Tags" placeholder="Use spaces to separate tags (max: 5)" autocomplete="off">
	</div>
	<input type="hidden" id="java_key" name="java_key" value="0">
	<button class="btn btn-primary" type="Submit" style="width:100%;">Create</button>
</fieldset>
</form>
{% endblock %}

{% block content %}
<div class="frame" style="height:1536px;white-space:normal;">
	<div id="chat_list">
		{% for chat in chats %} 
			<div class="chat_title_box">
				<div class="row">
					<div class="vote_box">
						{% if chat.id in upvoted %}
							<span class="glyphicon glyphicon-chevron-up big_upvote" id="upvote_{{chat.id}}" style="color:#57bf4b" data-toggle="tooltip" data-original-title="You must be logged in to vote on posts" data-container="body" data-placement="top"></span>
						{% else %}
							<span class="glyphicon glyphicon-chevron-up big_upvote" id="upvote_{{chat.id}}" data-toggle="tooltip" data-original-title="You must be logged in to vote on posts" data-container="body" data-placement="top"></span>
						{% endif %}
						<div style="margin-top:-5px;margin-bottom:-8px;text-align:center;" id="votes_{{chat.id}}">{{chat.upvotes - chat.downvotes}}</div>
						{% if chat.id in downvoted %}
							<span class="glyphicon glyphicon-chevron-down big_downvote" id="downvote_{{chat.id}}" style="color:red;" data-toggle="tooltip" data-original-title="You must be logged in to vote on posts" data-container="body" data-placement="bottom"></span>
						{% else %}
							<span class="glyphicon glyphicon-chevron-down big_downvote" id="downvote_{{chat.id}}" data-toggle="tooltip" data-original-title="You must be logged in to vote on posts" data-container="body" data-placement="bottom"></span>
						{% endif %}
					</div>
					{% if chat.image %}
						<a class="pull-left link_thumbnail" href="{{chat.link}}">
							<img src="{{chat.image}}" alt="Image Error" width="80" height="80">
						</a>
					{% endif %}
					<div class="chat_title">
						<a href="{{site}}/chat/{{chat.type}}/{{chat.id}}" style="color:blue;">{{chat.title}}</a>
						<div class="chat_info">Created by <b>{{chat.admin}}</b>, 
							<span class="chat_time" id="{{chat.inception}}"></span>
							with Tags:
							{% for tag in chat.tags %}
								<span class="chat_tags"><a href="{{site}}/tags/tag/{{tag.name}}">#{{tag.name}}</a> </span>
							{% endfor %}
							and <b>{{chat.messages | length }} comments</b>
						</div>
					</div>
				</div>
			</div>
		{% endfor %}
	</div>
</div>
{% endblock %}

