{% use 'common.twig' %}
<ul id="homeTabs" class="nav nav-tabs nav-justified">
	<li class="active"><a href="#hot" data-toggle="tab" style="color:#075de9">Hot</a></li>
	<li><a href="#new" data-toggle="tab" style="color:#075de9">New</a></li>
	<li><a href="#rising" data-toggle="tab" style="color:#075de9">Rising</a></li>
	{% if curr_community_id %}
		<li><a href="#removed" data-toggle="tab" style="color:#075de9">Removed</a></li>
	{% endif %}
</ul>
<div class="main_content" id="main_cont">
<div id="tab_content" class="tab-content">

<div class="tab-pane fade active in" id="hot">
	<div id="chat_list">
		{% for chat in chats %} 
			{{ block('chat_box') }}
		{% endfor %}
	</div>
	<div class="page_links">
		{{chats.links|raw}}
	</div>
	<div class="policy">
		<span style="margin-left:-104px;"><a href="{{site}}/privacy">Privacy Policy</a></span> |
		<span><a href="{{site}}/terms">Terms of Use</a></span>
	</div>
</div>

<div class="tab-pane fade in" id="new">
	<div id="chat_list">
		{% for chat in chats_new %} 
			{{ block('chat_box') }}
		{% endfor %}
	</div>
	<div class="page_links">
		{{chats_new.links|raw}}
	</div>
	<div class="policy">
		<span style="margin-left:-104px;"><a href="{{site}}/privacy">Privacy Policy</a></span> |
		<span><a href="{{site}}/terms">Terms of Use</a></span>
	</div>
</div>

<div class="tab-pane fade in" id="rising">
	<div id="chat_list">
		{% for chat in chats_rising %} 
			{{ block('chat_box') }}
		{% endfor %}
	</div>
	<div class="page_links">
		{{chats_rising.links|raw}}
	</div>
	<div class="policy">
		<span style="margin-left:-104px;"><a href="{{site}}/privacy">Privacy Policy</a></span> |
		<span><a href="{{site}}/terms">Terms of Use</a></span>
	</div>
</div>

{% if curr_community_id %}
<div class="tab-pane fade in" id="removed">
	<div id="chat_list">
		{% for chat in chats_removed %} 
			{{ block('chat_box') }}
		{% endfor %}
	</div>
	<div class="page_links">
		{{chats_removed.links|raw}}
	</div>
	<div class="policy">
		<span style="margin-left:-104px;"><a href="{{site}}/privacy">Privacy Policy</a></span> |
		<span><a href="{{site}}/terms">Terms of Use</a></span>
	</div>
</div>
{% endif %}

</div>
</div>

{% block chat_box %}
	{{parent()}}
{% endblock %}
