{% extends 'home_layout.twig' %}
{% use 'common.twig' %}

{% block header %} 
	{{parent()}}
{% endblock %}

{% block friend_list %}
	{{parent()}}
{% endblock %}

{% block welcome %}
	{{parent()}}
{% endblock %}

{% block pm_bar %}
	{{parent()}}
{% endblock %}

{% block modals %}
	{{parent()}}
{% endblock %}

{% block side_1 %}
{% if curr_tag_id %}
	<div class="small_content_box">
		<div class="content side_content" id="subscribe">
			{% if user.tag_admin == curr_tag_id and curr_tag_id | length > 0 %}
				<a class="btn btn-default btn-xs advanced_create" id="tag_edit" href="#" data-toggle="modal" data-target="tag_edit_modal"><div class="glyphicon glyphicon-cog advanced_cog" data-toggle="tooltip" data-original-title="Edit Community" data-container="body" data-placement="top"></div></a>
			{% endif %}
			<div><a href="{{site}}/t/{{curr_tag.name}}" style="font-size:20px;color:#333;">{{curr_tag.name}}{% if tag_admin.user_id == user.id %} (Admin) {% elseif user.id in curr_tag.moderators %} (Mod) {% endif %}</a></div>
			<div style="margin:4px 0;">
				{% if logged_in %}
					{% if user_subscribed %}
						<span><a href="{{site}}/tags/unsubscribe/{{curr_tag.id}}" class="btn btn-danger btn-xs">Unsubscribe</a></span>
					{% else %}
						<span><a href="{{site}}/tags/subscribe/{{curr_tag.id}}" class="btn btn-success btn-xs">Subscribe</a></span>
					{% endif %}
				{% endif %}
				{% set tag_subscribers = curr_tag.subscribers | length %}
				<span style="font-size:16px;">{{tag_subscribers}} Subscriber{% if tag_subscribers != 1 %}s{% endif %}</span>
			</div>
			<div style="font-size:14px;"><div class="green_ball"></div> {{curr_tag.online}} online</div>
			<div id="tag_id_str" style="display:none;">{{curr_tag.id}}</div>
			<div id="tag_info_str" style="display:none;">{{curr_tag.raw_info}}</div>
			<div id="tag_desc_str" style="display:none;">{{curr_tag.description}}</div>
			{% if curr_tag.info|length > 0 %}
				<div id="tag_info" style="font-size:16px;">
					<br>
					{{curr_tag.info|raw}}
				</div>
			{% endif %}
		</div>
	</div>
{% endif %}
{% endblock %}

{% block side_2 %}
                        <div class="small_content_box">
				<div class="content side_content" id="create_cont">
<form method="post" action="{{site}}/chat/new-chat" class="mutual_form" id="home_form">
<fieldset>
	<a class="btn btn-default btn-xs advanced_create" id="advanced_create" href="#" data-toggle="modal" data-target="advanced_modal"><div class="glyphicon glyphicon-cog advanced_cog" data-toggle="tooltip" data-original-title="Advanced options" data-container="body" data-placement="top"></div></a>
	<legend>Create a new Chat</legend>
	<div id="title_group" class="form-group">
		<input class="form-control" data-toggle="tooltip" data-placement="left" data-original-title="Title must be longer than 2 characters but less than 180" data-trigger="focus" data-container="body" type="text" name="title" id="Title" placeholder="What's this chat about?">
	</div>
	<div id="link_group" class="form-group">
		<input class="form-control" type="text" name="link" id="Link" placeholder="Add a link (optional)">
	</div>
	<div id="tags_group" class="form-group">
		<input class="form-control tags_input" data-toggle="popover" data-content="<div>Some content</div>" data-original-title="Suggested Tags" data-container="body" data-placement="bottom" type="text" name="tags" id="Tags" placeholder="Use spaces to separate tags (max: 5)" autocomplete="off">
	</div>
	<input class="form-control" type="hidden" name="live_status" value="1">
	<button class="btn btn-primary" type="Submit" style="width:100%;">Create</button>
</fieldset>
</form>
				</div>
                        </div>
{% endblock %}

{% block side_3 %}
{% if curr_tag_id %}
                        <div class="small_content_box">
				<div class="content side_content" id="create_cont">
<div>Admin</div>
{% if tag_admin %}
	<div style="font-size:14px;margin-left:10px;">
		<a href="{{site}}/p/{{tag_admin.user.name}}">{{tag_admin.user.name}}</a>
	</div>
{% else %}
	<div style="font-size:14px;margin-left:10px;">Become the admin</div>
{% endif %}
<div>Moderators</div>
<div style="font-size:14px;margin-left:10px;">
	{% for mod in tag_mods %}
		<div><a href="{{site}}/p/{{mod.user.name}}">{{mod.user.name}}</a></div>
	{% else %}
		<div>No moderators</div>
	{% endfor %}
</div>
				</div>
                        </div>
{% endif %}
{% endblock %}

{% block tabs %}
	<ul id="homeTabs" class="nav nav-tabs nav-justified">
		<li class="active"><a href="#hot" data-toggle="tab" style="color:#075de9">Hot</a></li>
		<li><a href="#new" data-toggle="tab" style="color:#075de9">New</a></li>
		<li><a href="#rising" data-toggle="tab" style="color:#075de9">Rising</a></li>
		<li><a href="#controversial" data-toggle="tab" style="color:#075de9">Controversial</a></li>
	</ul>
{% endblock %}

{% block content %}
<div class="main_content" id="main_cont">
<div id="tab_content" class="tab-content">

<div class="tab-pane fade active in" id="hot">
	<div id="chat_list">
		{% for chat in chats %} 
			{{ block('chat_box') }}
		{% endfor %}
	</div>
	<div class="page_links">
		{{chats.links|raw}}
	</div>
	<div class="policy">
		<span style="margin-left:-104px;"><a href="{{site}}/privacy">Privacy Policy</a></span> |
		<span><a href="{{site}}/terms">Terms of Use</a></span>
	</div>
</div>

<div class="tab-pane fade in" id="new">
	<div id="chat_list">
		{% for chat in chats_new %} 
			{{ block('chat_box') }}
		{% endfor %}
	</div>
	<div class="page_links">
		{{chats_new.links|raw}}
	</div>
	<div class="policy">
		<span style="margin-left:-104px;"><a href="{{site}}/privacy">Privacy Policy</a></span> |
		<span><a href="{{site}}/terms">Terms of Use</a></span>
	</div>
</div>

<div class="tab-pane fade in" id="rising">
	<div id="chat_list">
		{% for chat in chats_rising %} 
			{{ block('chat_box') }}
		{% endfor %}
	</div>
	<div class="page_links">
		{{chats_rising.links|raw}}
	</div>
	<div class="policy">
		<span style="margin-left:-104px;"><a href="{{site}}/privacy">Privacy Policy</a></span> |
		<span><a href="{{site}}/terms">Terms of Use</a></span>
	</div>
</div>

<div class="tab-pane fade in" id="controversial">
	<div id="chat_list">
		{% for chat in chats_contr %} 
			{{ block('chat_box') }}
		{% endfor %}
	</div>
	<div class="page_links">
		{{chats_contr.links|raw}}
	</div>
	<div class="policy">
		<span style="margin-left:-104px;"><a href="{{site}}/privacy">Privacy Policy</a></span> |
		<span><a href="{{site}}/terms">Terms of Use</a></span>
	</div>
</div>
</div>
</div>
{% endblock %}

{% block chat_box %}
	{{parent()}}
{% endblock %}
