{% extends 'home_layout.twig' %}

{% block header %}
<nav class="navbar">
	<div class="navbar-header">
		<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#mutual_navbar">
		<span class="sr-only">Toggle navigation</span>
		<span class="icon-bar"></span>
		<span class="icon-bar"></span>
		<span class="icon-bar"></span>
		</button>
		<a class="{{home_active}} navbar-brand" href="{{site}}">Home</a>
	</div>
	<div class="collapse navbar-collapse" id="mutual_navbar" style="position:relative;">
		<form class="navbar-form tag_search" role="search">
			<div class="form-group dropdown">
				<input class="form-control tag_input" id="search_input" type="text" placeholder="Search Tags" autocomplete="off">
				<ul class="dropdown-menu" id="tag_dropdown" role="menu" aria-labelledby="search_input">
				</ul>
			</div>
		</form>
		{% if logged_in %}
		<ul class="nav navbar-nav nav_left">
			<li class="dropdown">
				<a href="#" class="dropdown-toggle" data-toggle="dropdown">Subscriptions <strong class="caret" style="color:white;"></strong></a>
				<ul class="dropdown-menu" role="menu">
					{% for sub in user.subscriptions %}
						<li><a href="{{site}}/t/{{sub.name}}">{{sub.name}}</a></li>
					{% endfor %}
				</ul>
			</li>
		</ul>
		<ul class="nav navbar-nav nav_right nav_margin">
			{% for tag in tags %}
				{% if curr_tag.name == tag.name %}
					<li><a class="highlight_light_blue" href="{{site}}/t/{{tag}}">{{tag}}</a></li>
				{% else %}
					<li><a href="{{site}}/t/{{tag}}">{{tag}}</a></li>
				{% endif %}
			{% endfor %}
		</ul>
		{% else %}
		<ul class="nav navbar-nav nav_right">
			{% for tag in tags %}
				{% if curr_tag.name == tag.name %}
					<li><a class="highlight_light_blue" href="{{site}}/t/{{tag}}">{{tag}}</a></li>
				{% else %}
					<li><a href="{{site}}/t/{{tag}}">{{tag}}</a></li>
				{% endif %}
			{% endfor %}
		</ul>
		{% endif %}
	</div>
</nav>
{% endblock %}

{% block welcome %}
<div style="display:none;" id="sid" data-sid="{{sid}}"></div>
<div style="margin-bottom:10px;">Welcome, 
{% if not user %}
	<div id="serial_id" style="display:none;">{{serial_id}}</div>
	<span id="serial_tracker">{{serial}}</span>
{% else %}
	<div id="serial_id" style="display:none;">{{serial_id}}</div>
	<div id="serial_tracker" style="display:none;">{{serial}}</div>
	<div id="user_id" style="display:none;">{{user.id}}</div>
	<span id="user_tracker">{{user.name}}</span>
{% endif %}
</div>
{% if not logged_in %}
	<form method="post" action="{{site}}/profile/new-user" class="mutual_form" id="login_form">
	<fieldset>
		<div id="user_group" class="form-group">
			<input class="form-control" data-toggle="tooltip" data-placement="left" data-original-title="Username must be longer than 2 characters but less than 15" data-trigger="focus" data-container="body" type="text" name="username" id="username" placeholder="Enter your actual or preferred username">
		</div>
		<div id="pass1_group" class="form-group">
			<input class="form-control" data-toggle="tooltip" data-placement="left" data-original-title="Password must be longer than 6 characters but less than 30" data-trigger="focus" data-container="body" type="password" name="pass" id="pass" placeholder="Enter your password">
		</div>
		<div id="pass2_group" class="form-group">
			<input class="form-control" data-toggle="popover" data-original-title="Passwords don't match" data-container="body" data-placement="left" data-trigger="focus" type="password" name="pass2" id="pass2" placeholder="Enter password again to register">
		</div>
		<button class="btn btn-primary" type="Submit" style="width:100%;">Login/Register</button>
	</fieldset>
	</form>
{% else %}
	<div class="last_login" id="{{user.last_login}}"><strong>Last login:</strong></div>
	<div>Cognizance: {{user.cognizance}}/{{user.next_level}} (Level: {{user.level}})</div>
	<div class="progress progress-striped active">
		<div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="{{user.cognizance}}" aria-valuemin="0" aria-valuemax="{{user.next_level}}" style="width:{{user.cognizance}}%;">
			<span class="sr-only">Only {{user.cognizance}}% Complete</span>
		</div>
	</div>
	<select class="form-control">
		<option value="">Visible and Evaluated</option>
	</select>
	<div class="row" style="margin:10px 0 0 0;">
		<button class="btn btn-sm col-xs-3 btn-default"><div class="glyphicon glyphicon-user request_glyph {% if user.friend_notes > 0 %}pull-left{% endif %}"></div><span class="badge pull-right">{% if user.friend_requests > 0 %}{{user.friend_requests}}{% endif %}</span></button>
		<button class="btn btn-sm col-xs-offset-1 col-xs-4 btn-default"><div class="glyphicon glyphicon-comment request_glyph {% if user.mssg_notes > 0 %}pull-left{% endif %}"></div><span class="badge pull-right">{% if user.mssg_requests > 0 %}{{user.mssg_requests}}{% endif %}</span></button>
		<button class="btn btn-sm col-xs-offset-1 col-xs-3 btn-default"><div class="glyphicon glyphicon-globe request_glyph {% if user.global_notes > 0 %}pull-left{% endif %}"></div><span class="badge pull-right">{% if user.global_requests > 0 %}{{user.global_requests}}{% endif %}</span></button>
	</div>
	<div class="row" style="margin:10px 0 0 0;">
		<a class="btn btn-success col-xs-3 btn-sm" href="{{site}}/p/{{user.name}}">My Profile</a>
		<a class="btn btn-primary col-xs-offset-6 col-xs-3 btn-sm" href="{{site}}/profile/logout">Logout</a>
	</div>
{% endif %}
{% endblock %}

{% block side_2 %}
                        <div class="small_content_box">
				<div class="content_right">
				<div class="content_left">
					<div class="content side_content" id="create_cont">
<form method="post" action="{{site}}/chat/new-chat" class="mutual_form" id="home_form">
<fieldset>
	<a class="btn btn-default btn-xs advanced_create" id="advanced_create" href="#" data-toggle="modal" data-target="advanced_modal"><div class="glyphicon glyphicon-cog advanced_cog" data-toggle="tooltip" data-original-title="Advanced options" data-container="body" data-placement="top"></div></a>
	<legend>Create a new Chat</legend>
	<div id="title_group" class="form-group">
		<input class="form-control" data-toggle="tooltip" data-placement="left" data-original-title="Title must be longer than 2 characters but less than 180" data-trigger="focus" data-container="body" type="text" name="title" id="Title" placeholder="What's this chat about?">
	</div>
	<div id="link_group" class="form-group">
		<input class="form-control" type="text" name="link" id="Link" placeholder="Add a link (optional)">
	</div>
	<div id="tags_group" class="form-group">
		<input class="form-control tags_input" data-toggle="popover" data-content="<div>Some content</div>" data-original-title="Suggested Tags" data-container="body" data-placement="bottom" type="text" name="tags" id="Tags" placeholder="Use spaces to separate tags (max: 5)" autocomplete="off">
	</div>
	<button class="btn btn-primary" type="Submit" style="width:100%;">Create</button>
</fieldset>
</form>
					</div>
                                </div>
				</div>
                        </div>
<div class="modal fade" id="advanced_modal" aria-hidden="false" tabindex="-1" role="dialog" aria-labelledby="continue_modalLabel">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h4 class="modal-title">Advanced Chat Options</h4>
			</div>
			<div class="modal-body">
				<form method="post" action="{{site}}/chat/new-chat" class="mutual_form" id="home_form_v2">
				<fieldset>
					<div id="title_group_v2" class="form-group">
						<input class="form-control" data-toggle="tooltip" data-placement="top" data-original-title="Title must be longer than 2 characters but less than 180" data-trigger="focus" type="text" name="title" id="Title_v2" placeholder="What's this chat about?">
					</div>
					<div id="link_group_v2" class="form-group">
						<input class="form-control" type="text" name="link" id="Link_v2" placeholder="Add a link (optional)">
					</div>
					<div id="tags_group_v2" class="form-group">
						<input class="form-control tags_input" data-toggle="popover" data-content="<div>Some content</div>" data-original-title="Suggested Tags" data-placement="bottom" type="text" name="tags" id="Tags_v2" placeholder="Use spaces to separate tags (max: 5)" autocomplete="off">
					</div>
					<div id="description_group" class="form-group">
						<label for="description">Description</label>
						<textarea name="description" class="form-control" id="description" rows="5"></textarea>
					</div>
					<div id="live_group" class="form-group">
						<select class="form-control" name="live_status">
							<option value="1">Live</option>
							<option value="0">Static</option>
						</select>
					</div>
				</fieldset>
			</div>
			<div class="modal-footer">
				<button class="btn btn-primary" type="Submit">Create</button>
				<button type="button" class="btn" data-dismiss="modal">Close</button>
				</form>
			</div>
		</div>
	</div>	
</div>
{% endblock %}

{% block side_1 %}
{% if not home_active %}
	<div class="content_right">
	<div class="content_left">
		<div class="small_content_box">
			<div class="content_left grad4"></div>
			<div class="content_right grad4"></div>
			<div class="content side_content" id="subscribe">
				<div><a href="{{site}}/t/{{curr_tag.name}}" style="font-size:22px;color:#333;"><strong>{{curr_tag.name}}</strong>{% if curr_tag.admin == user.name %} (Admin) {% endif %}</a></div>
				{% if logged_in %}
					{% if user_subscribed %}
						<span><a href="{{site}}/tags/unsubscribe/{{curr_tag.id}}" class="btn btn-danger btn-xs">Unsubscribe</a></span>
					{% else %}
						<span><a href="{{site}}/tags/subscribe/{{curr_tag.id}}" class="btn btn-success btn-xs">Subscribe</a></span>
					{% endif %}
				{% endif %}
				{% set tag_subscribers = curr_tag.subscribers | length %}
				<span>{{tag_subscribers}} Subscriber{% if tag_subscribers != 1 %}s{% endif %}</span>
				<div style="font-size:14px;"><div class="green_ball"></div> {{curr_tag.online}} online</div>
			</div>
		</div>
	</div>
	</div>
{% endif %}
{% endblock %}

{% block tabs %}
	<ul id="homeTabs" class="nav nav-tabs nav-justified">
		<li class="active"><a href="#hot" data-toggle="tab" style="color:#075de9">Hot</a></li>
		<li><a href="#new" data-toggle="tab" style="color:#075de9">New</a></li>
		<li><a href="#rising" data-toggle="tab" style="color:#075de9">Rising</a></li>
		<li><a href="#controversial" data-toggle="tab" style="color:#075de9">Controversial</a></li>
	</ul>
{% endblock %}

{% block content %}
<div class="main_content" id="main_cont">
<div id="tab_content" class="tab-content">

<div class="tab-pane fade active in" id="hot">
	<div id="chat_list">
		{% for chat in chats %} 
			{{ block('chat_box') }}
		{% endfor %}
	</div>
	<div class="page_links">
		{{chats.links|raw}}
	</div>
	<div class="policy">
		<span style="margin-left:-104px;"><a href="{{site}}/privacy">Privacy Policy</a></span> |
		<span><a href="{{site}}/terms">Terms of Use</a></span>
	</div>
</div>

<div class="tab-pane fade in" id="new">
	<div id="chat_list">
		{% for chat in chats_new %} 
			{{ block('chat_box') }}
		{% endfor %}
	</div>
	<div class="page_links">
		{{chats_new.links|raw}}
	</div>
	<div class="policy">
		<span style="margin-left:-104px;"><a href="{{site}}/privacy">Privacy Policy</a></span> |
		<span><a href="{{site}}/terms">Terms of Use</a></span>
	</div>
</div>

<div class="tab-pane fade in" id="rising">
	<div id="chat_list">
		{% for chat in chats_rising %} 
			{{ block('chat_box') }}
		{% endfor %}
	</div>
	<div class="page_links">
		{{chats_rising.links|raw}}
	</div>
	<div class="policy">
		<span style="margin-left:-104px;"><a href="{{site}}/privacy">Privacy Policy</a></span> |
		<span><a href="{{site}}/terms">Terms of Use</a></span>
	</div>
</div>

<div class="tab-pane fade in" id="controversial">
	<div id="chat_list">
		{% for chat in chats_contr %} 
			{{ block('chat_box') }}
		{% endfor %}
	</div>
	<div class="page_links">
		{{chats_contr.links|raw}}
	</div>
	<div class="policy">
		<span style="margin-left:-104px;"><a href="{{site}}/privacy">Privacy Policy</a></span> |
		<span><a href="{{site}}/terms">Terms of Use</a></span>
	</div>
</div>
</div>
</div>
{% endblock %}

{% block chat_box %}
<div class="chat_title_box">
	<div class="row">
		<div class="number_box"> {{loop.index}}. </div>
		<div class="vote_box">
			{% if chat.id in upvoted %}
				<span class="glyphicon glyphicon-chevron-up big_upvote" id="upvote_{{chat.id}}" style="color:#57bf4b" data-toggle="tooltip" data-original-title="You must be logged in to vote on posts" data-container="body" data-placement="top"></span>
				<div class="upvote_count" id="votes_{{chat.id}}">{{chat.upvotes - chat.downvotes}}</div>
				<span class="glyphicon glyphicon-chevron-down big_downvote" id="downvote_{{chat.id}}" data-toggle="tooltip" data-original-title="You must be logged in to vote on posts" data-container="body" data-placement="bottom"></span>
			{% elseif chat.id in downvoted %}
				<span class="glyphicon glyphicon-chevron-up big_upvote" id="upvote_{{chat.id}}" data-toggle="tooltip" data-original-title="You must be logged in to vote on posts" data-container="body" data-placement="top"></span>
				<div class="upvote_count" id="votes_{{chat.id}}">{{chat.upvotes - chat.downvotes}}</div>
				<span class="glyphicon glyphicon-chevron-down big_downvote" id="downvote_{{chat.id}}" style="color:red;" data-toggle="tooltip" data-original-title="You must be logged in to vote on posts" data-container="body" data-placement="bottom"></span>
			{% else %}
				<span class="glyphicon glyphicon-chevron-up big_upvote" id="upvote_{{chat.id}}" data-toggle="tooltip" data-original-title="You must be logged in to vote on posts" data-container="body" data-placement="top"></span>
				<div class="upvote_count" id="votes_{{chat.id}}">{{chat.upvotes - chat.downvotes}}</div>
				<span class="glyphicon glyphicon-chevron-down big_downvote" id="downvote_{{chat.id}}" data-toggle="tooltip" data-original-title="You must be logged in to vote on posts" data-container="body" data-placement="bottom"></span>
			{% endif %}
		</div>
		{% if chat.image %}
			<a class="pull-left link_thumbnail" href="{{chat.link}}">
				<img src="{{chat.image}}" alt="Image Error" width="80" height="80">
			</a>
		{% endif %}
		{% if chat.live %}
			<div class="pull-right big_green_ball chat_status_indicator" data-toggle="tooltip" data-original-title="Live Chat" data-container="body" data-placement="top"></div>
		{% else %}
			<div class="pull-right big_yellow_ball chat_status_indicator" data-toggle="tooltip" data-original-title="Static Chat" data-container="body" data-placement="top"></div>
		{% endif %}
		<div class="chat_title">
			{% if chat.seen %}
				{% if chat.link %}
					<a href="{{chat.link}}" style="color:purple;">{{chat.title}}</a> <span class="site_name">from {{chat.site_name}}</span>
				{% else %}
					<a href="{{site}}/chat/{% if chat.live %}live{% else %}static{% endif %}/{{chat.id}}" style="color:purple;">{{chat.title}}</a>
				{% endif %}
			{% else %}
				{% if chat.link %}
					<a href="{{chat.link}}" style="color:#032f75;">{{chat.title}}</a> <span class="site_name">from {{chat.site_name}}</span>
				{% else %}
					<a href="{{site}}/chat/{% if chat.live %}live{% else %}static{% endif %}/{{chat.id}}" style="color:#032f75;">{{chat.title}}</a>
				{% endif %}
			{% endif %}
			{% if chat.admin % 16777259 == 0 %}
				<div class="chat_info">Created by <a href="{{site}}/p/{{chat.admin}}" style="color:gray;"><strong>{{chat.admin}}</strong></a>, 
			{% else %}
				<div class="chat_info">Created by <strong>{{chat.admin}}</strong>, 
			{% endif %}
				{% set time_passed = server_time|date('U') - chat.created_at|date('U') %}
				<span class="chat_time" id="{{chat.created_at}}" title="{{chat.created_at}} UTC">
					{% if time_passed < 45 %}
						seconds ago
					{% elseif time_passed < 2700 %}
						{% if time_passed < 90 %}
							a minute ago
						{% else %}
							{{(time_passed/60)|round}} minutes ago
						{% endif %}
					{% elseif time_passed < 79200%}
						{% if time_passed < 5400 %}
							an hour ago
						{% else %}
							{{(time_passed/3600)|round}} hours ago
						{% endif %}
					{% elseif time_passed < 2160000 %}
						{% if time_passed < 129600 %}
							a day ago
						{% else %}
							{{(time_passed/86400)|round}} days ago
						{% endif %}
					{% elseif time_passed < 29808000 %}
						{% if time_passed < 3888000 %}
							a month ago
						{% else %}
							{{(time_passed/2592000)|round}} months ago
						{% endif %}
					{% else %}
						{% if time_passed < 47260800 %}
							a year ago
						{% else %}
							{{(time_passed/31536000)|round}} years ago
						{% endif %}
					{% endif %}
				</span>
				with Tags:
				{% for tag in chat.tags %}
					<span class="chat_tags"><a href="{{site}}/t/{{tag.name}}" style="color:#075de9;">#{{tag.name}}</a> </span>
				{% endfor %}
				and <a href="{{site}}/chat/{% if chat.live %}live{% else %}static{% endif %}/{{chat.id}}" style="color:gray;"><strong>{{chat.messages | length }} comments</strong></a>
			</div>
		</div>
	</div>
</div>
{% endblock %}
