<!DOCTYPE html>
<html lang="en">
<head>
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta charset="utf-8" />
	<meta name="viewport" content="width=device-width,height=device-height, initial-scale=1.0">
        <title>Mutual Cognizance</title>
	<link rel="icon" href="{{base}}/GavinWeb.ico" type="image/x-icon">
	<link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,700' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="{{base}}/app/bower_components/bootstrap/dist/css/bootstrap.min.css" />
        <link rel="stylesheet" href="{{base}}/app/libraries/css/info_style.min.css?{{version}}" />
        {% block styles %}{% endblock %}
	<script src='//cdnjs.cloudflare.com/ajax/libs/jquery/1.10.2/jquery.min.js'></script>
</head>
<body>
{% block header %}
{% endblock %}
<div class="container">
<div class="row">
	<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" id="main">
		{% block content %}{% endblock %}
	</div>
</div>
</div>
<script src='//cdnjs.cloudflare.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js'></script>
<script src='//cdnjs.cloudflare.com/ajax/libs/moment.js/2.5.1/moment.min.js'></script>
<script type="text/javascript">
	document.writeln("<script type='text/javascript' src='{{base}}/app/bower_components/bootstrap/dist/js/bootstrap.min.js'><" + "/script>");
	document.writeln("<script type='text/javascript' src='{{base}}/app/libraries/js/info.min.js?{{version}}'><" + "/script>");
	  var _gaq = _gaq || [];
	  _gaq.push(['_setAccount', 'UA-24332662-1']);
	  _gaq.push(['_trackPageview']);
	  (function() {
	    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
	    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
	    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	})();
</script>
{% block scripts %}{% endblock %}
</body>
</html>
