{% extends 'home_layout.twig' %}
{% use 'common.twig' %}

{% block header %} 
	{{parent()}}
{% endblock %}

{% block welcome %} 
	{{parent()}}
{% endblock %}

{% block side_2 %}
                        <div class="small_content_box">
				<div class="content_right">
				<div class="content_left">
					<div class="content side_content" id="create_cont">
<form method="post" action="{{site}}/chat/new-chat" class="mutual_form" id="home_form">
<fieldset>
	<a class="btn btn-default btn-xs advanced_create" id="advanced_create" href="#" data-toggle="modal" data-target="advanced_modal"><div class="glyphicon glyphicon-cog advanced_cog" data-toggle="tooltip" data-original-title="Advanced options" data-container="body" data-placement="top"></div></a>
	<legend>Create a new Chat</legend>
	<div id="title_group" class="form-group">
		<input class="form-control" data-toggle="tooltip" data-placement="left" data-original-title="Title must be longer than 2 characters but less than 180" data-trigger="focus" data-container="body" type="text" name="title" id="Title" placeholder="What's this chat about?">
	</div>
	<div id="link_group" class="form-group">
		<input class="form-control" type="text" name="link" id="Link" placeholder="Add a link (optional)">
	</div>
	<div id="tags_group" class="form-group">
		<input class="form-control tags_input" data-toggle="popover" data-content="<div>Some content</div>" data-original-title="Suggested Tags" data-container="body" data-placement="bottom" type="text" name="tags" id="Tags" placeholder="Use spaces to separate tags (max: 5)" autocomplete="off">
	</div>
	<input class="form-control" type="hidden" name="live_status" value="1">
	<button class="btn btn-primary" type="Submit" style="width:100%;">Create</button>
</fieldset>
</form>
					</div>
                                </div>
				</div>
                        </div>
<div class="modal fade" id="advanced_modal" aria-hidden="false" tabindex="-1" role="dialog" aria-labelledby="continue_modalLabel">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h4 class="modal-title">Advanced Chat Options</h4>
			</div>
			<div class="modal-body">
				<form method="post" action="{{site}}/chat/new-chat" class="mutual_form" id="home_form_v2">
				<fieldset>
					<div id="title_group_v2" class="form-group">
						<input class="form-control" data-toggle="tooltip" data-placement="top" data-original-title="Title must be longer than 2 characters but less than 180" data-trigger="focus" type="text" name="title" id="Title_v2" placeholder="What's this chat about?">
					</div>
					<div id="link_group_v2" class="form-group">
						<input class="form-control" type="text" name="link" id="Link_v2" placeholder="Add a link (optional)">
					</div>
					<div id="tags_group_v2" class="form-group">
						<input class="form-control tags_input" data-toggle="popover" data-content="<div>Some content</div>" data-original-title="Suggested Tags" data-placement="bottom" type="text" name="tags" id="Tags_v2" placeholder="Use spaces to separate tags (max: 5)" autocomplete="off">
					</div>
					<div id="description_group" class="form-group">
						<label for="description">Description</label>
						<textarea name="description" class="form-control" id="description" rows="5"></textarea>
					</div>
					<div id="live_group" class="form-group">
						<select class="form-control" name="live_status">
							<option value="1">Live</option>
							<option value="0">Static</option>
						</select>
					</div>
				</fieldset>
			</div>
			<div class="modal-footer">
				<button class="btn btn-primary" type="Submit">Create</button>
				<button type="button" class="btn" data-dismiss="modal">Close</button>
				</form>
			</div>
		</div>
	</div>	
</div>
{% endblock %}

{% block content %}
<div class="p_main_content" id="main_cont">
<h1 class="profile_name" id="{{profile.id}}" style="margin-top:0px;">{{profile.name}}</h1>
{% if logged_in and profile.id != user.id and not friended %}
	<button class="btn btn-primary add_friend" id="request_friend" data-user-id="{{profile.id}}" data-user-name="{{profile.name}}"><div class="glyphicon glyphicon-plus" id="request_glyph"></div> Send Friend Request</button>
{% elseif requested %}
	<button class="btn btn-success add_friend"><div class="glyphicon glyphicon-check" id="request_glyph"></div> Request Sent</button>
{% elseif friended %}
	<a class="btn btn-danger add_friend" href="{{site}}/profile/unfriend/{{profile.id}}"><div class="glyphicon glyphicon-minus" id="request_glyph"></div> Remove Friend</a>
{% endif %}
<div>Posts: {{profile.posts | length}}</div>
<div>Comments: {{profile.messages | length}}</div>
<div>Level: {{profile.level}}</div>
<div>Cognizance: {{profile.cognizance}}/{{profile.next_level}}
<div class="progress progress-striped active">
	<div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="{{profile.cognizance}}" aria-valuemin="0" aria-valuemax="{{100 + 20*profile.level}}" style="width:{{profile.cognizance}}%;">
		<span class="sr-only">Only {{profile.cognizance}}% Complete</span>
	</div>
</div>
<ul id="profileTabs" class="nav nav-tabs nav-justified">
	<li class="active"><a href="#about" data-toggle="tab" style="color:#075de9">About Me</a></li>
	<li><a href="#posts" data-toggle="tab" style="color:#075de9">Posts</a></li>
	<li><a href="#comments" data-toggle="tab" style="color:#075de9">Comments</a></li>
	<li><a href="#friendships" data-toggle="tab" style="color:#075de9">Friendships</a></li>
</ul>

<div id="tab_content" class="tab-content">

<div class="tab-pane fade active in" id="about">
	<div style="height:620px;margin-top:10px;">
		<div class="{% if user.id == profile.id %} edit_about {% endif %}" id="about_details" data-toggle="tooltip" data-placement="top" data-original-title="Click to edit about me" data-container="body">
			{{profile.about | raw}}
		</div>
		{% if user.id == profile.id %}
			<div id="edit_box" style="display:none;">
<textarea rows="24" id="detail_text">{% if not profile.about %}[comment]**Name** : [/comment]

[comment]**Birthday** : [/comment]

[comment]**Location** : [/comment]

[comment]**Interests** : [/comment]

[comment]**About Me** : [/comment]{% else %}{{profile.about_raw | raw}}{% endif %}</textarea>
				<button class="btn btn-success" id="save_about" style="margin-top:9px;">Save About Me</button>
			</div>
		{% endif %}
	</div>
</div>

<div class="tab-pane fade in" id="posts">
	<div class="frame" style="height:620px;padding:0;white-space:normal;">
		<div id="chat_list">
			{% for chat in profile.chats %}
				{% block chat_box %}
					{{parent()}}
				{% endblock %}
			{% endfor %}
		</div>
	</div>
</div>

<div class="tab-pane fade in" id="comments">
	<div class="frame" id="chat_messages" style="height:620px;padding:0;white-space:normal;">
		<div id="chat_display">
			{% for message in profile.messages %}
				<div class='p_chat_mssg' id="{{message.id}}">
					<span class="mssg_vote_box">
						{% if message.id in mssg_upvoted %}
							<span class="glyphicon glyphicon-chevron-up mssg_upvote" id="mssg_upvote_{{message.id}}" style="color:#57bf4b" data-toggle="tooltip" data-original-title="You must be logged in to vote on messages" data-container="body" data-placement="top"></span>
							<div style="margin-top:-5px;margin-bottom:-5px;text-align:center;" id="mssg_votes_{{message.id}}">{{message.upvotes - message.downvotes}}</div>
							<span class="glyphicon glyphicon-chevron-down mssg_downvote" id="mssg_downvote_{{message.id}}" data-toggle="tooltip" data-original-title="You must be logged in to vote on messages" data-container="body" data-placement="bottom"></span>
						{% elseif message.id in mssg_downvoted %}
							<span class="glyphicon glyphicon-chevron-up mssg_upvote" id="mssg_upvote_{{message.id}}" data-toggle="tooltip" data-original-title="You must be logged in to vote on messages" data-container="body" data-placement="top"></span>
							<div style="margin-top:-5px;margin-bottom:-5px;text-align:center;" id="mssg_votes_{{message.id}}">{{message.upvotes - message.downvotes}}</div>
							<span class="glyphicon glyphicon-chevron-down mssg_downvote" id="mssg_downvote_{{message.id}}" style="color:red;" data-toggle="tooltip" data-original-title="You must be logged in to vote on messages" data-container="body" data-placement="bottom"></span>
						{% else %}
							<span class="glyphicon glyphicon-chevron-up mssg_upvote" id="mssg_upvote_{{message.id}}" data-toggle="tooltip" data-original-title="You must be logged in to vote on messages" data-container="body" data-placement="top"></span>
							<div style="margin-top:-5px;margin-bottom:-5px;text-align:center;" id="mssg_votes_{{message.id}}">{{message.upvotes - message.downvotes}}</div>
							<span class="glyphicon glyphicon-chevron-down mssg_downvote" id="mssg_downvote_{{message.id}}" data-toggle="tooltip" data-original-title="You must be logged in to vote on messages" data-container="body" data-placement="bottom"></span>
						{% endif %}
					</span>
					<span class="chat_id_{{message.id}}" id="{{message.chat_id}}">
						<strong class='mssg_op' id="{{message.author}}" style="color:{{color_arr[message.serial % 7]}}"> {{message.author}} (<span class='response_count' id="{{message.id}}">{{message.responses}}</span>)</strong> : {{message.message | raw}}
					</span>
					<div class="p_time_box">
						{% set time_passed = server_time|date('U') - message.created_at|date('U') %}
						<div class='p_time' id="{{message.created_at}}">
							{% if time_passed < 45 %}
								seconds ago
							{% elseif time_passed < 2700 %}
								{% if time_passed < 90 %}
									a minute ago
								{% else %}
									{{(time_passed/60)|round}} minutes ago
								{% endif %}
							{% elseif time_passed < 79200%}
								{% if time_passed < 5400 %}
									an hour ago
								{% else %}
									{{(time_passed/3600)|round}} hours ago
								{% endif %}
							{% elseif time_passed < 2160000 %}
								{% if time_passed < 129600 %}
									a day ago
								{% else %}
									{{(time_passed/86400)|round}} days ago
								{% endif %}
							{% elseif time_passed < 29808000 %}
								{% if time_passed < 3888000 %}
									a month ago
								{% else %}
									{{(time_passed/2592000)|round}} months ago
								{% endif %}
							{% else %}
								{% if time_passed < 47260800 %}
									a year ago
								{% else %}
									{{(time_passed/31536000)|round}} years ago
								{% endif %}
							{% endif %}
						</div>
					</div>
				</div>
			{% endfor %}
		</div>
	</div>
</div>

<div class="tab-pane fade in" id="friendships">
	<div class="frame" style="height:620px;white-space:normal;">
		{% for friendship in friendships %}
			{% for friend in friendship.users %}
			{% if friend.name != profile.name %}
				<div class="col-lg-3 interaction">
					<a href="{{site}}/p/{{friend.name}}" style="color:black;"><strong>{{friend.name}}</strong></a>
					<div style="font-size:14px;">
						<div>Last Interaction : <span class="interaction_time" id="{{friendship.updated_at}}"></span></div>
					</div>
				</div>
			{% endif %}
			{% endfor %}
		{% endfor %}
	</div>
</div>
</div>

</div>
</div>
{% endblock %}

{% block scripts %}
<script src="{{base}}/app/libraries/js/profile.min.js?{{version}}"></script>
{% endblock %}
