{% extends 'layout.twig' %}
{% use 'common.twig' %}
{% use 'side_bar.twig' %}
{% use 'navbar.twig' %}
{% use 'modals.twig' %}

{% block header %} 
	{{parent()}}
{% endblock %}

{% block friend_list %}
	{{parent()}}
{% endblock %}

{% block pm_bar %}
	{{parent()}}
{% endblock %}

{% block modals %}
	{{parent()}}
{% endblock %}

{% block side_bar %}
	{{parent()}}
{% endblock %}

{% block content %}
<div class="big_content_box" id="main_cont_box">
<div class="p_main_content" id="main_cont">
<h2 class="profile_name" id="{{profile.id}}" style="margin-top:0px;">{{profile.name}}</h2>
{% if profile.id != user.id %}
	<button id="message_friend" class="btn btn-primary pull-right" data-toggle="modal" data-target="#message_modal"><div class="glyphicon glyphicon-envelope"> </div> Message</button>
{% endif %}
{% if profile.id != user.id and not friended and not requested %}
	<button class="btn btn-primary add_friend" id="request_friend" data-user-id="{{profile.id}}" data-user-name="{{profile.name}}"><div class="glyphicon glyphicon-plus" id="request_glyph"> </div> Friend</button>
{% elseif requested %}
	<button class="btn btn-success add_friend"><div class="glyphicon glyphicon-check" id="request_glyph"> </div> Request Sent</button>
{% elseif friended %}
	<a class="btn btn-danger add_friend" href="{{site}}/profile/unfriend/{{profile.id}}"><div class="glyphicon glyphicon-minus" id="request_glyph"> </div> Remove Friend</a>
{% endif %}
<div>Posts: {{profile.chats | length}}</div>
<div>Comments: {{profile.messages | length}}</div>
<div>Level: {{profile.level}}</div>
<div>Cognizance: {{profile.cognizance}}/{{profile.next_level}}, Total Cognizance: {{profile.total_cognizance}}
<div>Passive: +{{profile.passive}}<span class="glyphicon glyphicon-info-sign" style="margin-left:5px;" data-toggle="tooltip" data-original-title="This is added to your cognizance every day if you log in"></span></div>
<div class="progress progress-striped active">
	<div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="{{profile.cognizance}}" aria-valuemin="0" aria-valuemax="{{100 + 20*profile.level}}" style="width:{{(profile.cognizance/profile.next_level) * 100}}%;">
		<span class="sr-only">Only {{profile.cognizance}}% Complete</span>
	</div>
</div>
<ul id="profileTabs" class="nav nav-tabs nav-justified">
	<li class="active"><a href="#posts" data-toggle="tab" style="color:#075de9">Posts</a></li>
	<li><a href="#comments" data-toggle="tab" style="color:#075de9">Comments</a></li>
	<li><a href="#friendships" data-toggle="tab" style="color:#075de9">Friends</a></li>
	{% if logged_in and user.id == profile.id %}
		<li><a href="#abilities" data-toggle="tab" style="color:#075de9">Abilities</a></li>
		<li><a href="#saved" data-toggle="tab" style="color:#075de9">Saved</a></li>
	{% endif %}
</ul>

<div id="tab_content" class="tab-content">

<div class="tab-pane fade active in" id="posts">
	<div id="chat_list" style="margin-bottom:35px;">
		{% for chat in chats %}
			{% block chat_box %}
				{{parent()}}
			{% endblock %}
		{% endfor %}
	</div>
	<div class="page_links">
		{{chats.links|raw}}
	</div>
</div>

<div class="tab-pane fade in" id="comments">
	<div style="padding:10px 0;white-space:normal;margin-bottom:35px;">
		{% for message in messages %}
			<div class='p_chat_mssg' id="{{message.id}}">
				<span class="mssg_vote_box">
					{% if message.id in mssg_upvoted %}
						<span class="glyphicon glyphicon-menu-up mssg_upvote green_color" id="mssg_upvote_{{message.id}}" data-toggle="tooltip" data-original-title="You must be logged in to vote on messages" data-container="body" data-placement="top"></span>
						<div style="margin-top:-4px;margin-bottom:-6px;text-align:center;" id="mssg_votes_{{message.id}}">{{message.upvotes - message.downvotes}}</div>
						<span class="glyphicon glyphicon-menu-down mssg_downvote" id="mssg_downvote_{{message.id}}" data-toggle="tooltip" data-original-title="You must be logged in to vote on messages" data-container="body" data-placement="bottom"></span>
					{% elseif message.id in mssg_downvoted %}
						<span class="glyphicon glyphicon-menu-up mssg_upvote" id="mssg_upvote_{{message.id}}" data-toggle="tooltip" data-original-title="You must be logged in to vote on messages" data-container="body" data-placement="top"></span>
						<div style="margin-top:-4px;margin-bottom:-6px;text-align:center;" id="mssg_votes_{{message.id}}">{{message.upvotes - message.downvotes}}</div>
						<span class="glyphicon glyphicon-menu-down mssg_downvote red_color" id="mssg_downvote_{{message.id}}" data-toggle="tooltip" data-original-title="You must be logged in to vote on messages" data-container="body" data-placement="bottom"></span>
					{% else %}
						<span class="glyphicon glyphicon-menu-up mssg_upvote" id="mssg_upvote_{{message.id}}" data-toggle="tooltip" data-original-title="You must be logged in to vote on messages" data-container="body" data-placement="top"></span>
						<div style="margin-top:-4px;margin-bottom:-6px;text-align:center;" id="mssg_votes_{{message.id}}">{{message.upvotes - message.downvotes}}</div>
						<span class="glyphicon glyphicon-menu-down mssg_downvote" id="mssg_downvote_{{message.id}}" data-toggle="tooltip" data-original-title="You must be logged in to vote on messages" data-container="body" data-placement="bottom"></span>
					{% endif %}
				</span>
				<span class="chat_id_{{message.chat_id}} p_mssg_body" id="{{message.chat_id}}">
					<strong class='mssg_op' id="{{message.author}}" style="color:{{color_arr[message.serial % 7]}}"> {{message.author}} </strong> : {{message.message | raw}}
				</span>
				<div class="p_time_box">
					{% set time_passed = server_time|date('U') - message.created_at|date('U') %}
					<div class='p_time' id="{{message.created_at}}">
						{% if time_passed < 45 %}
							seconds ago
						{% elseif time_passed < 2700 %}
							{% if time_passed < 90 %}
								a minute ago
							{% else %}
								{{(time_passed/60)|round}} minutes ago
							{% endif %}
						{% elseif time_passed < 79200%}
							{% if time_passed < 5400 %}
								an hour ago
							{% else %}
								{{(time_passed/3600)|round}} hours ago
							{% endif %}
						{% elseif time_passed < 2160000 %}
							{% if time_passed < 129600 %}
								a day ago
							{% else %}
								{{(time_passed/86400)|round}} days ago
							{% endif %}
						{% elseif time_passed < 29808000 %}
							{% if time_passed < 3888000 %}
								a month ago
							{% else %}
								{{(time_passed/2592000)|round}} months ago
							{% endif %}
						{% else %}
							{% if time_passed < 47260800 %}
								a year ago
							{% else %}
								{{(time_passed/31536000)|round}} years ago
							{% endif %}
						{% endif %}
					</div>
				</div>
			</div>
		{% endfor %}
	</div>
	<div class="page_links">
		{{messages.links|raw}}
	</div>
</div>

<div class="tab-pane fade in" id="friendships">
	<div style="padding:10px 0;white-space:normal;style="margin-bottom:35px;">
		{% for friendship in friendships %}
			<div class="col-lg-3 interaction">
				<a href="{{site}}/u/{{friendship.entity.name}}" style="color:black;"><strong>{{friendship.entity.name}}</strong></a>
				<div style="font-size:14px;">
					<div>Last Interaction : <span class="interaction_time" id="{{friendship.entity.updated_at}}"></span></div>
				</div>
			</div>
		{% endfor %}
	</div>
	<div class="page_links">
		{{friendships.links|raw}}
	</div>
</div>

<div class="tab-pane fade in" id="abilities">
	<div id="ability_list" style="font-size:18px;margin-bottom:35px;">
		{% for ability in abilities %}
			{% if user.level < ability.required_level %}
				<div class="ability_locked">
					Unlocked at level {{ability.required_level}}
				</div>
			{% else %}
				<div style="padding:15px;border-bottom:solid 1px #ddd;">
					{% set true_cost = ability.cost * ability.level * ability.scale %}
					{% if ability.unlocked and ability.scalable %}
						{% if user.cognizance > true_cost %}
							<a href="{{site}}/profile/level/{{ability.id}}" class="btn btn-default btn-lg pull-right" title="Level Up" style="margin-top:15px;"><div class="glyphicon glyphicon-arrow-up"></div></a>
						{% elseif user.total_cognizance > true_cost %}
							<a href="{{site}}/profile/level/{{ability.id}}" class="btn btn-default btn-lg pull-right" title="Warning: you will lose levels if you level up" style="margin-top:15px;"><div class="glyphicon glyphicon-arrow-up"></div></a>
						{% else %}
							<a href="{{site}}/profile/level/{{ability.id}}" class="btn btn-default btn-lg pull-right" title="Not enough cognizance" style="margin-top:15px;" disabled="disabled"><div class="glyphicon glyphicon-arrow-up"></div></a>
						{% endif %}
					{% elseif ability.unlocked and not ability.scalable %}
					{% else %}
						{% if user.cognizance > true_cost %}
							<a href="{{site}}/profile/unlock/{{ability.id}}" class="btn btn-default btn-lg pull-right" title="Unlock" style="margin-top:15px;"><div class="glyphicon glyphicon-lock"></div></a>
						{% elseif user.total_cognizance > true_cost %}
							<a href="{{site}}/profile/unlock/{{ability.id}}" class="btn btn-default btn-lg pull-right" title="Warning: you will lose levels if you unlock" style="margin-top:15px;"><div class="glyphicon glyphicon-lock"></div></a>
						{% else %}
							<a href="{{site}}/profile/unlock/{{ability.id}}" class="btn btn-default btn-lg pull-right" title="Not enough cognizance" style="margin-top:15px;" disabled="disabled"><div class="glyphicon glyphicon-lock"></div></a>
						{% endif %}
					{% endif %}
					<div>
						{{ability.name}} (Level {{ability.level}})
					</div>
					<div style="line-height:18px;">
						<div class="ability_info ability_description">
							{{ability.description}}
						</div>
						<div class="ability_info">
							<strong>Required Level:</strong> {{ability.required_level}}, <strong>Cost:</strong> {{true_cost}}
						</div>
					</div>
				</div>
			{% endif %}
		{% endfor %}
	</div>
</div>

<div class="tab-pane fade in" id="saved">
	{% for save in saved_entities %}
		{% if save.saved_type == 'chats' %}
			{% set chat = save.savedEntity %}
			{{ block('chat_box') }}
		{% else %}
			{% set message = save.savedEntity %}
			<div class='p_chat_mssg' id="{{message.id}}">
				<span class="mssg_vote_box">
					{% if message.id in mssg_upvoted %}
						<span class="glyphicon glyphicon-menu-up mssg_upvote green_color" id="mssg_upvote_{{message.id}}" data-toggle="tooltip" data-original-title="You must be logged in to vote on messages" data-container="body" data-placement="top"></span>
						<div style="margin-top:-4px;margin-bottom:-6px;text-align:center;" id="mssg_votes_{{message.id}}">{{message.upvotes - message.downvotes}}</div>
						<span class="glyphicon glyphicon-menu-down mssg_downvote" id="mssg_downvote_{{message.id}}" data-toggle="tooltip" data-original-title="You must be logged in to vote on messages" data-container="body" data-placement="bottom"></span>
					{% elseif message.id in mssg_downvoted %}
						<span class="glyphicon glyphicon-menu-up mssg_upvote" id="mssg_upvote_{{message.id}}" data-toggle="tooltip" data-original-title="You must be logged in to vote on messages" data-container="body" data-placement="top"></span>
						<div style="margin-top:-4px;margin-bottom:-6px;text-align:center;" id="mssg_votes_{{message.id}}">{{message.upvotes - message.downvotes}}</div>
						<span class="glyphicon glyphicon-menu-down mssg_downvote red_color" id="mssg_downvote_{{message.id}}" data-toggle="tooltip" data-original-title="You must be logged in to vote on messages" data-container="body" data-placement="bottom"></span>
					{% else %}
						<span class="glyphicon glyphicon-menu-up mssg_upvote" id="mssg_upvote_{{message.id}}" data-toggle="tooltip" data-original-title="You must be logged in to vote on messages" data-container="body" data-placement="top"></span>
						<div style="margin-top:-4px;margin-bottom:-6px;text-align:center;" id="mssg_votes_{{message.id}}">{{message.upvotes - message.downvotes}}</div>
						<span class="glyphicon glyphicon-menu-down mssg_downvote" id="mssg_downvote_{{message.id}}" data-toggle="tooltip" data-original-title="You must be logged in to vote on messages" data-container="body" data-placement="bottom"></span>
					{% endif %}
				</span>
				<span class="chat_id_{{message.chat_id}} p_mssg_body" id="{{message.chat_id}}">
					<strong class='mssg_op' id="{{message.author}}" style="color:{{color_arr[message.serial % 7]}}"> {{message.author}} </strong> : {{message.message | raw}}
				</span>
				<div class="p_time_box">
					{% set time_passed = server_time|date('U') - message.created_at|date('U') %}
					<div class='p_time' id="{{message.created_at}}">
						{% if time_passed < 45 %}
							seconds ago
						{% elseif time_passed < 2700 %}
							{% if time_passed < 90 %}
								a minute ago
							{% else %}
								{{(time_passed/60)|round}} minutes ago
							{% endif %}
						{% elseif time_passed < 79200%}
							{% if time_passed < 5400 %}
								an hour ago
							{% else %}
								{{(time_passed/3600)|round}} hours ago
							{% endif %}
						{% elseif time_passed < 2160000 %}
							{% if time_passed < 129600 %}
								a day ago
							{% else %}
								{{(time_passed/86400)|round}} days ago
							{% endif %}
						{% elseif time_passed < 29808000 %}
							{% if time_passed < 3888000 %}
								a month ago
							{% else %}
								{{(time_passed/2592000)|round}} months ago
							{% endif %}
						{% else %}
							{% if time_passed < 47260800 %}
								a year ago
							{% else %}
								{{(time_passed/31536000)|round}} years ago
							{% endif %}
						{% endif %}
					</div>
				</div>
			</div>
		{% endif %}
	{% else %}
	No saved posts or messages
	{% endfor %}
	<div class="page_links">
		{{saved_entities.links|raw}}
	</div>
</div>

</div>
</div>
</div>
</div>
{% endblock %}

