{% extends 'home_layout.twig' %}
{% use 'common.twig' %}
{% use 'home_common.twig' %}

{% block header %} 
	{{parent()}}
{% endblock %}

{% block welcome %} 
	{{parent()}}
{% endblock %}

{% block friend_list %}
	{{parent()}}
{% endblock %}

{% block pm_bar %}
	{{parent()}}
{% endblock %}

{% block modals %}
	{{parent()}}
{% endblock %}

{% block home_modals %}
	{{parent()}}
{% endblock %}

{% block side_2 %}
	<div class="small_content_box">
		<div class="content side_content" id="subscribe" style="padding:0;">
<div style="margin-top:5px;">
	<button class="btn btn-primary menu_top" style="width:100%;" data-toggle="modal" data-target="#chat_modal">Create new post</button>
</div>
<div>
	<button class="btn btn-primary menu_middle" id="create_community" style="width:100%;" data-toggle="modal" data-target="#community_create_modal">Create community</button>
</div>
<div>
	<a href="{{site}}/chat/random" class="btn btn-primary menu_bottom" style="width:100%;" title="Jump into a random chat">Jump into chat</a>
</div>
		</div>
	</div>
{% endblock %}

{% block content %}
<div class="p_main_content" id="main_cont">
<h2 class="profile_name" id="{{profile.id}}" style="margin-top:0px;">{{profile.name}}</h2>
{% if profile.id != user.id %}
	<button id="message_friend" class="btn btn-primary pull-right" data-toggle="modal" data-target="#message_modal"><div class="glyphicon glyphicon-envelope"> </div> Message</button>
{% endif %}
{% if profile.id != user.id and not friended and not requested %}
	<button class="btn btn-primary add_friend" id="request_friend" data-user-id="{{profile.id}}" data-user-name="{{profile.name}}"><div class="glyphicon glyphicon-plus" id="request_glyph"> </div> Friend</button>
{% elseif requested %}
	<button class="btn btn-success add_friend"><div class="glyphicon glyphicon-check" id="request_glyph"> </div> Request Sent</button>
{% elseif friended %}
	<a class="btn btn-danger add_friend" href="{{site}}/profile/unfriend/{{profile.id}}"><div class="glyphicon glyphicon-minus" id="request_glyph"> </div> Remove Friend</a>
{% endif %}
<div>Posts: {{profile.chats | length}}</div>
<div>Comments: {{profile.messages | length}}</div>
<div>Level: {{profile.level}}</div>
<div>Cognizance: {{profile.cognizance}}/{{profile.next_level}}
<div class="progress progress-striped active">
	<div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="{{profile.cognizance}}" aria-valuemin="0" aria-valuemax="{{100 + 20*profile.level}}" style="width:{{(profile.cognizance/profile.next_level) * 100}}%;">
		<span class="sr-only">Only {{profile.cognizance}}% Complete</span>
	</div>
</div>
<ul id="profileTabs" class="nav nav-tabs nav-justified">
	<li class="active"><a href="#posts" data-toggle="tab" style="color:#075de9">Posts</a></li>
	<li><a href="#comments" data-toggle="tab" style="color:#075de9">Comments</a></li>
	<li><a href="#friendships" data-toggle="tab" style="color:#075de9">Friends</a></li>
	{% if logged_in and user.id == profile.id %}
		<li><a href="#rewards" data-toggle="tab" style="color:#075de9">Rewards</a></li>
	{% endif %}
</ul>

<div id="tab_content" class="tab-content">

<div class="tab-pane fade active in" id="posts">
	<div id="chat_list">
		{% for chat in chats %}
			{% block chat_box %}
				{{parent()}}
			{% endblock %}
		{% endfor %}
	</div>
	<div class="page_links">
		{{chats.links|raw}}
	</div>
</div>

<div class="tab-pane fade in" id="comments">
	<div style="padding:10px 0;white-space:normal;">
		{% for message in messages %}
			<div class='p_chat_mssg' id="{{message.id}}">
				<span class="mssg_vote_box">
					{% if message.id in mssg_upvoted %}
						<span class="glyphicon glyphicon-chevron-up mssg_upvote" id="mssg_upvote_{{message.id}}" style="color:#57bf4b" data-toggle="tooltip" data-original-title="You must be logged in to vote on messages" data-container="body" data-placement="top"></span>
						<div style="margin-top:-5px;margin-bottom:-5px;text-align:center;" id="mssg_votes_{{message.id}}">{{message.upvotes - message.downvotes}}</div>
						<span class="glyphicon glyphicon-chevron-down mssg_downvote" id="mssg_downvote_{{message.id}}" data-toggle="tooltip" data-original-title="You must be logged in to vote on messages" data-container="body" data-placement="bottom"></span>
					{% elseif message.id in mssg_downvoted %}
						<span class="glyphicon glyphicon-chevron-up mssg_upvote" id="mssg_upvote_{{message.id}}" data-toggle="tooltip" data-original-title="You must be logged in to vote on messages" data-container="body" data-placement="top"></span>
						<div style="margin-top:-5px;margin-bottom:-5px;text-align:center;" id="mssg_votes_{{message.id}}">{{message.upvotes - message.downvotes}}</div>
						<span class="glyphicon glyphicon-chevron-down mssg_downvote" id="mssg_downvote_{{message.id}}" style="color:red;" data-toggle="tooltip" data-original-title="You must be logged in to vote on messages" data-container="body" data-placement="bottom"></span>
					{% else %}
						<span class="glyphicon glyphicon-chevron-up mssg_upvote" id="mssg_upvote_{{message.id}}" data-toggle="tooltip" data-original-title="You must be logged in to vote on messages" data-container="body" data-placement="top"></span>
						<div style="margin-top:-5px;margin-bottom:-5px;text-align:center;" id="mssg_votes_{{message.id}}">{{message.upvotes - message.downvotes}}</div>
						<span class="glyphicon glyphicon-chevron-down mssg_downvote" id="mssg_downvote_{{message.id}}" data-toggle="tooltip" data-original-title="You must be logged in to vote on messages" data-container="body" data-placement="bottom"></span>
					{% endif %}
				</span>
				<span class="chat_id_{{message.id}} p_mssg_body" id="{{message.chat_id}}">
					<strong class='mssg_op' id="{{message.author}}" style="color:{{color_arr[message.serial % 7]}}"> {{message.author}} (<span class='response_count' id="{{message.id}}">{{message.responses}}</span>)</strong> : {{message.message | raw}}
				</span>
				<div class="p_time_box">
					{% set time_passed = server_time|date('U') - message.created_at|date('U') %}
					<div class='p_time' id="{{message.created_at}}">
						{% if time_passed < 45 %}
							seconds ago
						{% elseif time_passed < 2700 %}
							{% if time_passed < 90 %}
								a minute ago
							{% else %}
								{{(time_passed/60)|round}} minutes ago
							{% endif %}
						{% elseif time_passed < 79200%}
							{% if time_passed < 5400 %}
								an hour ago
							{% else %}
								{{(time_passed/3600)|round}} hours ago
							{% endif %}
						{% elseif time_passed < 2160000 %}
							{% if time_passed < 129600 %}
								a day ago
							{% else %}
								{{(time_passed/86400)|round}} days ago
							{% endif %}
						{% elseif time_passed < 29808000 %}
							{% if time_passed < 3888000 %}
								a month ago
							{% else %}
								{{(time_passed/2592000)|round}} months ago
							{% endif %}
						{% else %}
							{% if time_passed < 47260800 %}
								a year ago
							{% else %}
								{{(time_passed/31536000)|round}} years ago
							{% endif %}
						{% endif %}
					</div>
				</div>
			</div>
		{% endfor %}
	</div>
	<div class="page_links">
		{{messages.links|raw}}
	</div>
</div>

<div class="tab-pane fade in" id="friendships">
	<div style="padding:10px 0;white-space:normal;">
		{% for friendship in friendships %}
			<div class="col-lg-3 interaction">
				<a href="{{site}}/u/{{friendship.entity.name}}" style="color:black;"><strong>{{friendship.entity.name}}</strong></a>
				<div style="font-size:14px;">
					<div>Last Interaction : <span class="interaction_time" id="{{friendship.entity.updated_at}}"></span></div>
				</div>
			</div>
		{% endfor %}
	</div>
	<div class="page_links">
		{{friendships.links|raw}}
	</div>
</div>

<div class="tab-pane fade in" id="rewards">
</div>

</div>

</div>
</div>
{% endblock %}

