{% extends 'home_layout.twig' %}
{% use 'common.twig' %}

{% block header %} 
	{{parent()}}
{% endblock %}

{% block friend_list %}
	{{parent()}}
{% endblock %}

{% block welcome %}
	{{parent()}}
{% endblock %}

{% block pm_bar %}
	{{parent()}}
{% endblock %}

{% block modals %}
	{{parent()}}
{% endblock %}

{% block side_1 %}
	<div class="small_content_box">
		<div class="content side_content">
<div style="margin-top:5px;">
	<button class="btn btn-primary" style="width:100%;" data-toggle="modal" data-target="#chat_modal">Create New Post</button>
</div>
<div style="margin-top:10px;">
	<button class="btn btn-primary" id="create_community" style="width:100%;" data-toggle="modal" data-target="#tag_create_modal">Create Community</button>
</div>
		</div>
	</div>
{% endblock %}

{% block side_2 %}
{% if curr_tag_id %}
	<div class="small_content_box">
		<div class="content side_content" id="subscribe">
			{% if user.tag_admin == curr_tag_id and curr_tag_id | length > 0 %}
				<a class="btn btn-default btn-xs advanced_create" id="tag_edit" href="#" data-toggle="modal" data-target="tag_edit_modal"><div class="glyphicon glyphicon-cog advanced_cog" data-toggle="tooltip" data-original-title="Manage Community" data-container="body" data-placement="top"></div></a>
			{% endif %}
			<div><a href="{{site}}/t/{{curr_tag.name}}" style="font-size:18px;color:#333;">{{curr_tag.name}}{% if user %}{% if tag_admin.user_id == user.id %} (Admin) {% elseif user.id in curr_tag.moderators %} (Mod) {% endif %}{% endif %}</a></div>
			<div style="margin:4px 0;">
				{% if user_subscribed %}
					<span><a href="{{site}}/tags/unsubscribe/{{curr_tag.id}}" class="btn btn-danger btn-xs">Unsubscribe</a></span>
				{% else %}
					<span><a id="subscribe_btn" href="{{site}}/tags/subscribe/{{curr_tag.id}}" class="btn btn-success btn-xs">Subscribe</a></span>
				{% endif %}
				{% set tag_subscribers = curr_tag.subscribers | length %}
				<span style="font-size:16px;">{{tag_subscribers}} Subscriber{% if tag_subscribers != 1 %}s{% endif %}</span>
			</div>
			<div style="font-size:14px;"><div class="green_ball"></div> {{curr_tag.online}} online</div>
			<div id="tag_id_str" style="display:none;">{{curr_tag.id}}</div>
			<div id="tag_info_str" style="display:none;">{{curr_tag.raw_info}}</div>
			<div id="tag_desc_str" style="display:none;">{{curr_tag.description}}</div>
			{% if curr_tag.info|length > 0 %}
				<div id="tag_info" style="font-size:16px;">
					<br>
					{{curr_tag.info|raw}}
				</div>
			{% endif %}
		</div>
	</div>
{% endif %}
{% endblock %}

{% block tabs %}
<ul id="resultsTabs" class="nav nav-tabs nav-justified">
	<li class="active"><a href="#posts" data-toggle="tab" style="color:#075de9">Posts ({{chats | length}})</a></li>
	<li><a href="#users" data-toggle="tab" style="color:#075de9">Users ({{users | length}})</a></li>
	<li><a href="#communities" data-toggle="tab" style="color:#075de9">Communities ({{communities | length}})</a></li>
</ul>
{% endblock %}

{% block content %}
<div class="main_content" id="main_cont">
<div id="tab_content" class="tab-content">

<div class="tab-pane fade active in" id="posts">
	{% for chat in chats %}
		{{ block('chat_box') }}
	{% else %}
		<div class="chat_title_box">
			No post results
		</div>
	{% endfor %}
	<div class="page_links">
		{{chats.links|raw}}
	</div>
</div>

<div class="tab-pane fade in" id="users">
	{% for usr in users %}
		<div class="chat_title_box">
			<a class="navbar_blue_color" href="{{site}}/u/{{usr.name}}">{{usr.name}}</a>
			<div class="pull-right" style="margin-top:-5px;">
			{% if user.id != usr.id %}
				<button id="message_friend" class="btn btn-primary" data-toggle="modal" data-target="#message_modal"><div class="glyphicon glyphicon-envelope"> </div> Message</button>
			{% endif %}
			{% if usr.id != user.id %}
				<button class="btn btn-primary" id="request_friend" data-user-id="{{profile.id}}" data-user-name="{{profile.name}}"><div class="glyphicon glyphicon-plus" id="request_glyph"> </div> Send Friend Request</button>
			{% endif %}
			</div>
		</div>
	{% else %}
		<div class="chat_title_box">
			No user results
		</div>
	{% endfor %}
	<div class="page_links">
		{{users.links|raw}}
	</div>
</div>

<div class="tab-pane fade in" id="communities">
	{% for community in communities %}
		<div class="chat_title_box">
			<a class="navbar_blue_color" href="{{site}}/t/{{community.name}}">{{community.name}}</a>
			{% if community.id in user.subArr %}
				<div class="pull-right"><a href="{{site}}/tags/unsubscribe/{{community.id}}" class="btn btn-danger btn-xs">Unsubscribe</a></div>
			{% else %}
				<div class="pull-right"><a id="subscribe_btn" href="{{site}}/tags/subscribe/{{community.id}}" class="btn btn-success btn-xs">Subscribe</a></div>
			{% endif %}
		</div>
	{% else %}
		No community results
	{% endfor %}
	<div class="page_links">
		{{communities.links|raw}}
	</div>
</div>

</div>
</div>
{% endblock %}
