{% extends 'home_layout.twig' %}
{% use 'common.twig' %}

{% block header %} 
	{{parent()}}
{% endblock %}

{% block friend_list %}
	{{parent()}}
{% endblock %}

{% block welcome %}
	{{parent()}}
{% endblock %}

{% block pm_bar %}
	{{parent()}}
{% endblock %}

{% block modals %}
	{{parent()}}
{% endblock %}

{% block side_1 %}
	<div class="small_content_box">
		<div class="content side_content" style="padding:0;">
<div style="margin-top:5px;">
	<button class="menu_top btn btn-primary" style="width:100%;" data-toggle="modal" data-target="#chat_modal">Create new post</button>
</div>
<div>
	<button class="menu_middle btn btn-primary" id="create_community" style="width:100%;" data-toggle="modal" data-target="#community_create_modal">Create community</button>
</div>
<div>
	<a href="{{site}}/chat/random" class="menu_bottom btn btn-primary" style="width:100%;" title="Jump into a random chat">Jump into chat</a>
</div>
		</div>
	</div>
{% endblock %}

{% block side_2 %}
{% if curr_community_id %}
	<div class="small_content_box">
		<div class="content side_content" id="subscribe">
			{% if user.community_admin == curr_community_id and curr_community_id | length > 0 %}
				<a class="btn btn-default btn-xs advanced_create" id="community_edit" href="#" data-toggle="modal" data-target="community_edit_modal"><div class="glyphicon glyphicon-cog advanced_cog" data-toggle="tooltip" data-original-title="Manage Community" data-container="body" data-placement="top"></div></a>
			{% endif %}
			<div><a href="{{site}}/c/{{curr_community.name}}" style="font-size:18px;color:#333;">{{curr_community.name}}{% if user %}{% if community_admin.user_id == user.id %} (Admin) {% elseif user.id in curr_community.moderators %} (Mod) {% endif %}{% endif %}</a></div>
			<div style="margin:4px 0;">
				{% if user_subscribed %}
					<span><a href="{{site}}/community/unsubscribe/{{curr_community.id}}" class="btn btn-danger btn-xs">Unsubscribe</a></span>
				{% else %}
					<span><a id="subscribe_btn" href="{{site}}/community/subscribe/{{curr_community.id}}" class="btn btn-success btn-xs">Subscribe</a></span>
				{% endif %}
				{% set community_subscribers = curr_community.subscribers | length %}
				<span style="font-size:16px;">{{community_subscribers}} Subscriber{% if community_subscribers != 1 %}s{% endif %}</span>
			</div>
			<div style="font-size:14px;"><div class="green_ball"></div> {{curr_community.online}} online</div>
			<div id="community_id_str" style="display:none;">{{curr_community.id}}</div>
			<div id="community_info_str" style="display:none;">{{curr_community.raw_info}}</div>
			<div id="community_desc_str" style="display:none;">{{curr_community.description}}</div>
			{% if curr_community.info|length > 0 %}
				<div id="community_info" style="font-size:16px;">
					<br>
					{{curr_community.info|raw}}
				</div>
			{% endif %}
		</div>
	</div>
{% endif %}
{% endblock %}

{% block tabs %}
<ul id="resultsTabs" class="nav nav-tabs nav-justified">
	<li class="active"><a href="#posts" data-toggle="tab" style="color:#075de9">Posts ({{chats | length}})</a></li>
	<li><a href="#users" data-toggle="tab" style="color:#075de9">Users ({{users | length}})</a></li>
	<li><a href="#communities" data-toggle="tab" style="color:#075de9">Communities ({{communities_res | length}})</a></li>
</ul>
{% endblock %}

{% block content %}
<div class="main_content" id="main_cont">
<div id="tab_content" class="tab-content">

<div class="tab-pane fade active in" id="posts">
	{% for chat in chats %}
		{{ block('chat_box') }}
	{% else %}
		<div class="chat_title_box">
			No post results
		</div>
	{% endfor %}
	<div class="page_links">
		{{chats.links|raw}}
	</div>
</div>

<div class="tab-pane fade in" id="users">
	{% for usr in users %}
		<div class="chat_title_box" style="min-height:95px;">
			<a class="navbar_blue_color" href="{{site}}/u/{{usr.name}}">{{usr.name}}</a>
			<div class="pull-right" style="margin-top:-5px;">
			{% if usr.id != user.id %}
				<button class="btn btn-primary" id="request_friend" style="display:block;margin-bottom:5px;" data-user-id="{{profile.id}}" data-user-name="{{profile.name}}"><div class="glyphicon glyphicon-plus" id="request_glyph"> </div> Send Friend Request</button>
			{% endif %}
			{% if user.id != usr.id %}
				<button id="message_friend" class="btn btn-primary" data-toggle="modal" data-target="#message_modal"><div class="glyphicon glyphicon-envelope"> </div> Message</button>
			{% endif %}
			</div>
			<div>Level : {{usr.level}}</div>
			{% set time_passed = server_time|date('U') - usr.updated_at|date('U') %}
			<div> Most recent activity : 
			<span class="chat_time" id="{{usr.updated_at}}" title="{{usr.updated_at}}">
				{% if time_passed < 45 %}
					seconds ago
				{% elseif time_passed < 2700 %}
					{% if time_passed < 90 %}
						a minute ago
					{% else %}
						{{(time_passed/60)|round}} minutes ago
					{% endif %}
				{% elseif time_passed < 79200%}
					{% if time_passed < 5400 %}
						an hour ago
					{% else %}
						{{(time_passed/3600)|round}} hours ago
					{% endif %}
				{% elseif time_passed < 2160000 %}
					{% if time_passed < 129600 %}
						a day ago
					{% else %}
						{{(time_passed/86400)|round}} days ago
					{% endif %}
				{% elseif time_passed < 29808000 %}
					{% if time_passed < 3888000 %}
						a month ago
					{% else %}
						{{(time_passed/2592000)|round}} months ago
					{% endif %}
				{% else %}
					{% if time_passed < 47260800 %}
						a year ago
					{% else %}
						{{(time_passed/31536000)|round}} years ago
					{% endif %}
				{% endif %}
			</span>
			</div>
		</div>
	{% else %}
		<div class="chat_title_box">
			No user results
		</div>
	{% endfor %}
	<div class="page_links">
		{{users.links|raw}}
	</div>
</div>

<div class="tab-pane fade in" id="communities">
	{% for community in communities_res %}
		<div class="chat_title_box">
			<a class="navbar_blue_color" href="{{site}}/c/{{community.name}}">{{community.name}}</a>
			{% if community.id in user.subArr %}
				<div class="pull-right"><a href="{{site}}/community/unsubscribe/{{community.id}}" class="btn btn-danger btn-xs">Unsubscribe</a></div>
			{% else %}
				<div class="pull-right"><a id="subscribe_btn" href="{{site}}/community/subscribe/{{community.id}}" class="btn btn-success btn-xs">Subscribe</a></div>
			{% endif %}
		</div>
	{% else %}
		No community results
	{% endfor %}
	<div class="page_links">
		{{communities_res.links|raw}}
	</div>
</div>

</div>
</div>
{% endblock %}
