{% extends 'info.twig' %}

{% block header %}
<nav class="navbar">
	<div class="navbar-header">
		<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#mutual_navbar">
		<span class="sr-only">Toggle navigation</span>
		<span class="icon-bar"></span>
		<span class="icon-bar"></span>
		<span class="icon-bar"></span>
		</button>
		<a class="navbar-brand" href="{{site}}">Home</a>
	</div>
	<div class="collapse navbar-collapse" id="mutual_navbar">
		<ul class="nav navbar-nav">
			<li class="active"><a href="{{site}}/soon">Coming Soon</a></li>
			<li class="active"><a href="{{site}}/feedback">Feedback</a></li>
			{% for tag in tags %}
				<li class="active"><a href="{{site}}/tags/tag/{{tag}}">{{tag}}</a></li>
			{% endfor %}
		</ul>
	</div>
</nav>
{% endblock %}

{% block content %}
<div style="margin-top:-20px;">
<h1>Coming Soon</h1>
<ul>
	<h2>Tags/Upvotes</h2>
	<li>A working trending tag system</li>
	<li>Upvotes for chat comments</li>
	<li>A more intelligent upvote system that displays better content</li>
	<li>Hot/Rising/New sections for posts</li>

	<h2>Profiles</h2>
	<li>Profiles so you can keep track of your posts</li>
	<li>A system where upvotes give you "cognizance"</li>
	<li>A leveling system for profiles</li>
	<li>The ability to add friends and create profile information</li>
	<li>The ability to rate other profiles anonymously</li>

	<h2>Groups</h2>
	<li>The ability to create and be a part of groups</li>
	<li>Group hosted chats</li>
	<li>Group tags</li>
	<li>Private group chats</li>

	<h2>Chats</h2>
	<li>Private, AMA, and group hosted chats</li>
	<li>The ability to use emoticons, bold/underlined/italic font, other chat functions</li>
	<li>The ability to post images in chat</li>
</ul>
</div>
{% endblock %}
