{% extends 'home_layout.twig' %}
{% use 'common.twig' %}

{% block header %}
	{{parent()}}
{% endblock %}

{% block tools %}
{% if user.name == chat.admin or serial == chat.admin %}
                        <div class="small_content_box tool_box">
				<div class="content side_content box_r_0">
<div id="user_toolbox">
	{% if chat.live %}
		<a href="{{site}}/chat/pause-chat/{{chat.id}}" class="glyphicon glyphicon-pause pause mod_power" id="pause_chat" data-toggle="tooltip" data-container="body" data-placement="top" data-original-title="Pause chat"></a>
	{% else %}
		<a href="{{site}}/chat/play-chat/{{chat.id}}" class="glyphicon glyphicon-play play mod_power" id="pause_chat" data-toggle="tooltip" data-container="body" data-placement="top" data-original-title="Play chat"></a>
	{% endif %}
	<!--<span class="glyphicon glyphicon-tower mod_power" id="mod_user" data-toggle="tooltip" data-container="body" data-placement="top" data-original-title="Grant holy moderation powers"></span>
	<span class="glyphicon glyphicon-warning-sign mod_power" id="warn_user" data-toggle="tooltip" data-container="body" data-placement="top" data-original-title="Warn user"></span>
	<span class="glyphicon glyphicon-remove mod_power" id="kick_user" data-toggle="tooltip" data-container="body" data-placement="top" data-original-title="Kick user"></span>-->
</div>
				</div>
                        </div>
{% endif %}
{% endblock %}

{% block welcome %}
	{{parent()}}
{% endblock %}

{% block side_1 %}
	<div class="small_content_box">
		<div class="content side_content" id="subscribe">
<div style="margin-top:5px;">
	<btn class="btn btn-primary" style="width:100%;" data-toggle="modal" data-target="#chat_modal">Create Chat</btn>
</div>
{% if not curr_tag_id and user %}
	<div style="margin-top:10px;">
		<btn class="btn btn-primary" style="width:100%;" data-toggle="modal" data-target="#tag_create_modal">Create Community</btn>
	</div>
{% endif %}
		</div>
	</div>
{% endblock %}

{% block side_2 %}
{% if not chat.live %}
                        <div class="small_content_box">
				<div class="content_right">
				<div class="content_left">
					<div class="content side_content" id="create_new_mssg">
<form method="post" action="{{site}}/chat/message/{{chat.id}}">
	<legend>Submit a new Message</legend>
	<textarea rows="4" name="mssg_content" maxlength="{{max_static_length}}"></textarea>
	<button type="submit" class="btn btn-primary" style="width:100%;">Send Message</button>
</form>
					</div>
                                </div>
				</div>
                        </div>
{% endif %}
{% endblock %}

{% block content %}
<div class="chat_content">
<div class="chat_title_vote_box">
	{% if chat.id in upvoted %}
		<span class="glyphicon glyphicon-chevron-up big_upvote" id="upvote_{{chat.id}}" style="color:#57bf4b" data-toggle="tooltip" data-original-title="You must be logged in to vote on posts" data-container="body" data-placement="top"></span>
		<div class="upvote_count" id="votes_{{chat.id}}">{{chat.upvotes - chat.downvotes}}</div>
		<span class="glyphicon glyphicon-chevron-down big_downvote" id="downvote_{{chat.id}}" data-toggle="tooltip" data-original-title="You must be logged in to vote on posts" data-container="body" data-placement="bottom"></span>
	{% elseif chat.id in downvoted %}
		<span class="glyphicon glyphicon-chevron-up big_upvote" id="upvote_{{chat.id}}" data-toggle="tooltip" data-original-title="You must be logged in to vote on posts" data-container="body" data-placement="top"></span>
		<div class="upvote_count" id="votes_{{chat.id}}">{{chat.upvotes - chat.downvotes}}</div>
		<span class="glyphicon glyphicon-chevron-down big_downvote" id="downvote_{{chat.id}}" style="color:red;" data-toggle="tooltip" data-original-title="You must be logged in to vote on posts" data-container="body" data-placement="bottom"></span>
	{% else %}
		<span class="glyphicon glyphicon-chevron-up big_upvote" id="upvote_{{chat.id}}" data-toggle="tooltip" data-original-title="You must be logged in to vote on posts" data-container="body" data-placement="top"></span>
		<div class="upvote_count" id="votes_{{chat.id}}">{{chat.upvotes - chat.downvotes}}</div>
		<span class="glyphicon glyphicon-chevron-down big_downvote" id="downvote_{{chat.id}}" data-toggle="tooltip" data-original-title="You must be logged in to vote on posts" data-container="body" data-placement="bottom"></span>
	{% endif %}
</div>
{% if chat.image %}
	<a class="pull-left link_thumbnail" href="{{chat.link}}">
		<img src="{{chat.image}}" alt="Image Error" width="80" height="80">
	</a>
{% endif %}
{% if chat.live %}
	<div class="pull-right glyphicon glyphicon-play brighter_green_color chat_status_indicator" data-toggle="tooltip" data-original-title="Live Chat" data-container="body" data-placement="top"></div>
{% else %}
	<div class="pull-right glyphicon glyphicon-pause darker_yellow_color chat_status_indicator" data-toggle="tooltip" data-original-title="Static Chat" data-container="body" data-placement="top"></div>
{% endif %}
<div class="static_chat_title">
	<div id="chat_admin_info" style="display:none;">{{chat.admin}}</div>
	{% if chat.seen %}
		{% if chat.link %}
			<a href="{{chat.link}}" style="color:purple;">{{chat.title}}</a> <span class="site_name">from {{chat.site_name}}</span>
		{% else %}
			<a href="{{site}}/chat/{% if chat.live %}live{% else %}static{% endif %}/{{chat.id}}" style="color:purple;">{{chat.title}}</a>
		{% endif %}
	{% else %}
		{% if chat.link %}
			<a href="{{chat.link}}" style="color:#032f75;">{{chat.title}}</a> <span class="site_name">from {{chat.site_name}}</span>
		{% else %}
			<a href="{{site}}/chat/{% if chat.live %}live{% else %}static{% endif %}/{{chat.id}}" style="color:#032f75;">{{chat.title}}</a>
		{% endif %}
	{% endif %}
	{% if chat.admin % 16777259 == 0 %}
		<div class="chat_info">Created by <a href="{{site}}/u/{{chat.admin}}" style="color:gray;"><strong>{{chat.admin}}</strong></a>, 
	{% else %}
		<div class="chat_info">Created by <strong>{{chat.admin}}</strong>, 
	{% endif %}
		{% set time_passed = server_time|date('U') - chat.created_at|date('U') %}
		<span class="chat_time" id="{{chat.created_at}}">
			{% if time_passed < 45 %}
				seconds ago
			{% elseif time_passed < 2700 %}
				{% if time_passed < 90 %}
					a minute ago
				{% else %}
					{{(time_passed/60)|round}} minutes ago
				{% endif %}
			{% elseif time_passed < 79200%}
				{% if time_passed < 5400 %}
					an hour ago
				{% else %}
					{{(time_passed/3600)|round}} hours ago
				{% endif %}
			{% elseif time_passed < 2160000 %}
				{% if time_passed < 129600 %}
					a day ago
				{% else %}
					{{(time_passed/86400)|round}} days ago
				{% endif %}
			{% elseif time_passed < 29808000 %}
				{% if time_passed < 3888000 %}
					a month ago
				{% else %}
					{{(time_passed/2592000)|round}} months ago
				{% endif %}
			{% else %}
				{% if time_passed < 47260800 %}
					a year ago
				{% else %}
					{{(time_passed/31536000)|round}} years ago
				{% endif %}
			{% endif %}
		</span>
		with Tags:
		{% for tag in chat.tags %}
			<span class="chat_tags"><a href="{{site}}/t/{{tag.name}}" style="color:#075de9;">#{{tag.name}}</a> </span>
		{% endfor %}
		and <a href="{{site}}/chat/{% if chat.live %}live{% else %}static{% endif %}/{{chat.id}}" style="color:gray;"><strong>{{chat.messages | length }} comments</strong></a>
	</div>
	<div class="chat_details">
		{{chat.details | raw}}
	</div>
</div>
{% if not chat.live %}
<form method="post" class="visible-xs" action="{{site}}/chat/message/{{chat.id}}">
	<textarea rows="4" name="mssg_content" maxlength="{{max_static_length}}"></textarea>
	<button type="submit" class="btn btn-sm btn-primary">Send Message</button>
</form>
{% endif %}
</div>
{% endblock %}

{% block chat_content %}
<div id="reply_form_box" style="display:none;">
<form method="post" id="reply_form" class="reply_forms" action="{{site}}/chat/message/{{chat.id}}">
	<input type="hidden" name="reply_to" id="reply_to">
	<textarea rows="3" name="mssg_content" maxlength="{{max_static_length}}"></textarea>
	<button type="submit" class="btn btn-sm btn-primary">Send Message</button>
</form>
</div>
<div class="big_content_box" style="margin-top:15px;margin-bottom:15px;">
	<div class="content_right">
	<div class="content_left">
		<div class="chat_content">
		{% for message in messages %}
			{% if loop.first %}
				{% set init_y = message.y_dim %}
			{% endif %}
			{% if message.res_num <= init_y + 11 - message.y_dim %}
			{% if not loop.first and prev_y >= message.y_dim %}
				{% for i in message.y_dim..prev_y %}
					</div>
					</div>
				{% endfor %}
			{% endif %}
			{% if message.y_dim == init_y %}
			<div class="response_to_{{message.responseto}} mssg_cont y_{{message.y_dim}} parent_{{message.parent}}" id="mssg_cont_{{message.id}}">
			{% else %}
			<div class="response_to_{{message.responseto}} mssg_cont y_{{message.y_dim}} parent_{{message.parent}} {% if message.y_dim > init_y + 3 %}hidden-xs {% endif %}{% if message.y_dim > init_y + 5 %}hidden-sm {% endif %}{% if message.y_dim > init_y + 8 %}hidden-md {% endif %}{% if message.y_dim > init_y + 12 %}hidden-lg {% endif %}pad_l_10" id="mssg_cont_{{message.id}}">
			{% endif %}
			{% block static_mssg_cont %}
				{{parent()}}
			{% endblock %}
			{% for response in message.descendants %}
				{% if not loop.first and prev_y == response.y_dim %}
					{% for i in response.y_dim..prev_y %}
						{% if prev_mssg.responses > 6 or (prev_mssg.y_dim == 2 and prev_mssg.responses > 0) %} <!-- closes previous message -->
							<a class="load_more" href="{{site}}/chat/load-more/{{prev_mssg.id}}"><strong>Load more</strong></a>
						{% endif %}
						</div>
						</div>
					{% endfor %}
				{% elseif not loop.first and prev_y > response.y_dim %}
					{% for i in response.y_dim..prev_y %}
						{% if loop.last %}
							{% if prev_mssg.mssgParent.responses > 6 %} <!-- closes previous message -->
								<a class="load_more" href="{{site}}/chat/load-more/{{prev_mssg.responseto}}"><strong>Load more</strong></a>
							{% endif %}
						{% else %}
							{% if prev_mssg.y_dim == 2 and prev_mssg.responses > 0 %} <!-- closes previous message -->
								<a class="load_more" href="{{site}}/chat/load-more/{{prev_mssg.id}}"><strong>Load more</strong></a>
							{% endif %}
						{% endif %}
						</div>
						</div>
					{% endfor %}
				{% endif %}
				<div class="response_to_{{response.responseto}} mssg_cont y_{{response.y_dim}} parent_{{response.parent}} {% if response.y_dim > 3 %}hidden-xs {% endif %}{% if response.y_dim > 5 %}hidden-sm {% endif %}{% if response.y_dim > 8 %}hidden-md {% endif %}{% if response.y_dim > 12 %}hidden-lg {% endif %}pad_l_10" id="mssg_cont_{{response.id}}">
					{% block static_resp_cont %}
						{{parent()}}
					{% endblock %}
				{% set prev_y = response.y_dim %}
				{% if loop.last %}
					{% if response.y_dim > 1 %}
						{% for i in 1..response.y_dim %}
							{% if response.responses > 1 %}
								<a class="load_more" href="{{site}}/chat/load-more/{{response.id}}"><strong>Load more</strong></a>
							{% endif %}
							</div>
							</div>
						{% endfor %}
					{% else %}
						{% if response.responses > 6 %}
							<a class="load_more" href="{{site}}/chat/load-more/{{response.id}}"><strong>Load more</strong></a>
						{% endif %}
						</div>
						</div>
					{% endif %}
				{% endif %}
				{% set prev_mssg = response %}
			{% else %}
			{% endfor %}
		{% if message.responses > 6 %}
			<a class="load_more" href="{{site}}/chat/load-more/{{message.id}}"><strong>Load more</strong></a>
		{% endif %}
			{% set prev_y = message.y_dim %}
			{% endif %}
			{% if loop.last %}
				{% if message.y_dim > init_y %}
					{% for i in init_y..message.y_dim %}
						</div>
						</div>
					{% endfor %}
				{% else %}
					</div>
					</div>
				{% endif %}
			{% endif %}
		{% else %}
		{% endfor %}
		<div class="page_links">
			{{messages.links|raw}}
		</div>
		<div class="policy">
			<span style="margin-left:-104px;"><a href="{{site}}/privacy">Privacy Policy</a></span> |
			<span><a href="{{site}}/terms">Terms of Use</a></span>
		</div>
		</div>
	</div>
	</div>
</div>
{% endblock %}
